<section class=' page-section bg-dark-alfa-70' data-background='{{site.url}}/assets/img/bg/bg-20.jpg' style='background-image: url("{{site.url}}/assets/img/bg/bg-20.jpeg");'>
    <div class="relative container align-left">
        <div class="row">
            <div class=' home-text pi-text-center' style=' text-align:center;'>
                <div class=' container'>
                    <h4 class=' align-center font-alt white hs-line-8'>BRANDING / DESIGN / DEVELOPMENT / PHOTO / CONSULTANCY / IT SERVICES 
</h4>
                    <h2 class=' align-center font-alt uppercase hs-line-14 darkorange' style='margin-top: 50px; margin-bottom: 50px;'>RONEL GHANA
</h2> 
           
<!--           <a class="btn btn-mod btn-w btn-medium btn-round" href="content/_portfolio/">SEE OUR WORKS</a>-->
           <a class=' btn btn-mod  btn-w btn-medium btn-round' style='margin-right: 8px;' href='/'>KNOW MORE</a> <a class=' btn btn-mod  btn-w btn-medium btn-round' href='{{site.url}}/portfolio/'>See our works</a> </div>
            </div>
        </div>
    </div>
</section>
<!--  <span id="scroll035810"></span>-->