<!--Footer Section-->
<div class="nd-region">
    <div class="container-fluid">
        <div id="Footer" class="row">
            <div id="footer" class="col-md-12 " style="padding-top: 0px; ">
                <div class="region region-footer">
                    <div id="block-block-11" class="block block-block ">
                        <div class="block-content clearfix">
                            <section class=' bg-gray page-section bg-scroll' style='padding-bottom: 60px; padding-top: 140px;'>
                                <div class=' container pi-text-center' style=' text-align:center;'>
                                    <div class=' fadeInUp wow' style='margin-bottom: 30px;'> <span><img style="width:78px;height:75px;" src="/assets/img/logo/logo-ronelapp.png" alt="Alt" title="" /></span> </div> <span class="footer-social-links"><a href="https://www.facebook.com/ronelghana" class = ""><i class = ' fa fa-facebook'></i></a></span> <span class="footer-social-links"><a href="https://www.twitter.com/ronelghana" class = ""><i class = ' fa fa-twitter'></i></a></span> <span class="footer-social-links"><a href="https://www.twitter.com/ronelghana" class = ""><i class = ' fa fa-behance'></i></a></span> <span class="footer-social-links"><a href="https://www.twitter.com/ronelghana" class = ""><i class = ' fa fa-linkedin'></i></a></span> <span class="footer-social-links"><a href="https://www.twitter.com/ronelghana" class = ""><i class = ' fa fa-pinterest'></i></a></span>
                                    <div style='padding-top: 40px;'>
                                        <div class="footer-text footer">
                                            <!-- Copyright -->
<!--                                            <div class="footer-copy font-alt"> <a href="http://ronelghana.com" target="_blank">© RONEL 2011 - 2017</a>.</div>-->
                                            
                                            <div class="footer-copy font-alt"> <a href="http://ronelghana.com">
                                            
                                            &copy; RONEL | 2011<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script></a>.</div>
                                            <!-- End Copyright -->
                                            <div class="footer-made"> Innovative | Creative | Techology</div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.block -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="local-scroll"> <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a> </div>


