<!--Header Section-->
<div style="padding-bottom: 140px; " class="nd-region">
    <div class="container-fluid">
        <div id="Header" class="row">
            <div id="top" class="col-md-12 ">
                <div class="region region-top">
                    <div id="block-block-26" class="block block-block ">
                        <div class="block-content clearfix"> 
                            {% include nav.html %} 
                            {% include slider.html %} 
                        </div>
                    </div>
                    <!-- /.block -->
                </div>
            </div>
        </div>
    </div>
</div>