<div  class = ' slider-wrapper' data-autoplay = ""><div class="fullwidth-slider owl-carousel bg-gray owl-theme" style="opacity: 1; display: block;">
    <section  class = ' bg-dark-alfa-90 page-section bg-scroll banner-section' data-background = '{{site.url}}/assets/img/bg/bg-01.jpg' data-uri = 'public://bg-01.jpg' style = 'background-image: url({{site.url}}/assets/img/bg/bg-01.jpg);'>
        <div class = "home-content"><div  class = ' home-text pi-text-center' style = ' text-align:center;'>
            <div  class = ' container'>
                <h4  class = ' align-center font-alt white hs-line-8'>Hello & Welcome
                </h4>
                <h2  class = ' align-center font-alt uppercase white hs-line-14' style = 'margin-top: 50px; margin-bottom: 50px;'>CREATIVE STUDIO
                </h2>
                <a  class = ' btn btn-mod btn-border-w btn-medium btn-circle' style = 'margin-right: 8px;' href = '#'>SEE MORE</a>
                <a  class = ' btn btn-mod btn-border-w btn-medium btn-circle' href = '#'>PLAY REEL</a>
            </div>
            </div></div>
    </section>
    <section  class = ' bg-dark-alfa-50 page-section bg-scroll banner-section' data-background = '{{site.url}}/assets/img/bg/bg-02.jpg' data-uri = 'public://bg-02.jpg' style = 'background-image: url({{site.url}}/assets/img/bg/bg-02.jpg);'>
        <div class = "home-content"><div  class = ' home-text pi-text-center' style = ' text-align:center;'>
            <div  class = ' container'>
                <h4  class = ' align-center font-alt white hs-line-8'>Hello & Welcome
                </h4>
                <h2  class = ' align-center font-alt uppercase white hs-line-14' style = 'margin-top: 50px; margin-bottom: 50px;'>amazing design
                </h2>
                <a  class = ' btn btn-mod btn-border-w btn-medium btn-circle' style = 'margin-right: 8px;' href = '#'>SEE MORE</a>
            </div>
            </div></div>
    </section>
    <section  class = ' bg-dark-alfa-30 page-section bg-scroll banner-section' data-background = '{{site.url}}/assets/img/bg/bg-14.jpg' data-uri = 'public://bg-14.jpg' style = 'background-image: url({{site.url}}/assets/img/bg/bg-14.jpg);'>
        <div class = "home-content"><div  class = ' home-text pi-text-center' style = ' text-align:center;'>
            <div  class = ' container'>
                <h4  class = ' align-center font-alt white hs-line-8'>Hello & Welcome
                </h4>
                <h2  class = ' align-center font-alt uppercase white hs-line-14' style = 'margin-top: 50px; margin-bottom: 50px;'>RONEL creative studio
                </h2>
                <a  class = ' btn btn-mod btn-border-w btn-medium btn-circle' style = 'margin-right: 8px;' href = '#'>SEE MORE</a>
                <a  class = ' btn btn-mod btn-border-w btn-medium btn-circle' href = '#'>PLAY REEL</a>
            </div>
            </div></div>
    </section>
    </div></div>
