<section class=' bg-dark-alfa-30 page-section parallax-0 banner-section pt-0 pb-0' data-background='{{site.url}}/assets/img/bg/bg-01.jpg' data-uri='public://bg-01.jpg' style='background-image: url({{site.url}}/assets/img/bg/bg-01.jpg);'>
    <div class="js-height-full">
        <div class="home-content">
            <div class=' home-text pi-text-center' style=' text-align:center;'>
                <div class=' container'>
                    <h4 class=' align-center font-alt white hs-line-8'>WE ARE creative I.T. PEOPLE
                    </h4>
                    <h2 class=' align-center uppercase white hs-line-7' style='margin-top: 50px; margin-bottom: 50px;'>
                        <span  class = ' text-rotate'>RONEL Creative Studio,
                            We Have Magic Skills,
                            We Love Smart Design</span>
                    </h2> <a class=' btn btn-mod btn-border-w btn-medium btn-round' style='margin-right: 8px;' href='#'>SEE MORE</a> <a class=' btn btn-mod btn-border-w btn-medium btn-round' href='#'>PLAY REEL</a> </div>
            </div>
        </div>
    </div>
    <div class="local-scroll"><a href="#scroll013325" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a></div>
</section><span id="scroll013325"></span>