<section  class = ' bg-gray page-section bg-scroll' style = 'padding-bottom: 70px;'>
   <div  class = ' container' style = 'padding-top: 140px;' id = 'contacts'>
    <h2  class = ' align-center black section-title font-alt mb-70 mb-sm-40'>contact</h2>
    <div  class = ' row'>
        <div  class = ' col-md-8 col-md-offset-2'>
            <div  class = ' row' style = 'padding-bottom: 60px;'>
                <div  class = ' col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0'>
                    <div  class = ' contact-item'><div class="ci-icon"><i class="fa fa-phone"></i></div><div class="ci-title font-alt">Call Us</div><div class="ci-text">
                        +61 3 8376 6284
                        </div></div>
                </div>
                <div  class = ' col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0'>
                    <div  class = ' contact-item'><div class="ci-icon"><i class="fa fa-map-marker"></i></div><div class="ci-title font-alt">Address</div><div class="ci-text">
                        245 Quigley Blvd, Ste K
                        </div></div>
                </div>
                <div  class = ' col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0'>
                    <div  class = ' contact-item'><div class="ci-icon"><i class="fa fa-envelope"></i></div><div class="ci-title font-alt">Address</div><div class="ci-text">
                        <a href="mailto:support@bestlooker.pro">support@bestlooker.pro</a>
                        </div></div>
                </div>
            </div>
            <div id="node-106" class="node node-webform node-promoted clearfix">

                <div class="content">
                    <form class="webform-client-form webform-client-form-106 form" action="/node/119/9" method="post" id="webform-client-form-106" accept-charset="UTF-8"><div><fieldset class="webform-component-fieldset row webform-component--row form-wrapper"><div class="fieldset-wrapper"><fieldset class="webform-component-fieldset col-sm-6 webform-component--row--col-1 form-wrapper"><div class="fieldset-wrapper"><div  class="form-group form-item webform-component webform-component-textfield webform-component--row--col-1--name">
                        <label class="element-invisible" for="edit-submitted-row-col-1-name">Name </label>
                        <input placeholder="Name" class="input-md form-control round" type="text" id="edit-submitted-row-col-1-name" name="submitted[row][col_1][name]" value="" size="60" maxlength="128" />
                        </div>
                        <div  class="form-group form-item webform-component webform-component-email webform-component--row--col-1--email">
                            <label class="element-invisible" for="edit-submitted-row-col-1-email">Email </label>
                            <input class="email input-md form-control round form-text form-email" placeholder="Email" type="email" id="edit-submitted-row-col-1-email" name="submitted[row][col_1][email]" size="60" />
                        </div>
                        </div></fieldset>
                        <fieldset class="webform-component-fieldset col-sm-6 webform-component--row--col-2 form-wrapper"><div class="fieldset-wrapper"><div  class="form-group form-item webform-component webform-component-textarea webform-component--row--col-2--message">
                            <label class="element-invisible" for="edit-submitted-row-col-2-message">Message </label>
                            <div class="form-textarea-wrapper form-group"><textarea placeholder="Message" class="height-84 input-md form-control round form-textarea" id="edit-submitted-row-col-2-message" name="submitted[row][col_2][message]" cols="60" rows="5"></textarea></div>
                            </div>
                            </div></fieldset>
                        </div></fieldset>
                        <div  class="form-item webform-component webform-component-markup webform-component--submit">
                            <div class="clearfix">

                                <div class="cf-left-col">

                                    <!-- Inform Tip -->                                        
                                    <div class="form-tip pt-20">
                                        <i class="fa fa-info-circle"></i> All the fields are required
                                    </div>

                                </div>

                                <div class="cf-right-col">

                                    <!-- Send Button -->
                                    <div class="align-right pt-10">
                                        <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <input type="hidden" name="details[sid]" />
                        <input type="hidden" name="details[page_num]" value="1" />
                        <input type="hidden" name="details[page_count]" value="1" />
                        <input type="hidden" name="details[finished]" value="0" />
                        <input type="hidden" name="form_build_id" value="form-yb1jj5ySVrf5bdbIr0pVTMju3g0cKeDvZVrlM-nSDyc" />
                        <input type="hidden" name="form_id" value="webform_client_form_106" />
                        <div class="form-actions"><input class="webform-submit button-primary btn-medium btn btn-mod btn-round hidden form-submit" type="submit" name="op" value="&lt;none&gt;" /></div></div></form>  </div>



            </div>

        </div>
    </div>
</div>
<!--
</div>  </div>



</div>
</div>

</div> 
-->
<!-- /.block -->
<!--
</div>

</div>

</div>

</div>


</div>
-->

</section>

<section  class = ' bg-gray page-section bg-scroll' style = 'padding-bottom: 70px;'>

<div  class="nd-region">
    <div class = "container">

        <div  id="Content-Bottom" class="row"></div>

    </div>
</div>

<div  class="nd-region">
    <div class = "container-fluid">
        <div  id="Footer" class="row">     
            <div  id="footer" class="col-md-12 " style="padding-top: 140px; ">

                <div class="region region-footer">


                    <div id="block-block-14" class="block block-block " >
                        <div class = "block-content clearfix">
                            <div  class = ' google-map'>
                                <div id="map-canvas" style="height: 410px;"
                                     data-zoom="14"
                                     data-address="Belt Parkway, Queens, NY, United States"
                                     data-type="roadmap">
                                </div>
                                <div class="map-section">
                                    <div class="map-toggle">
                                        <div class="mt-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="mt-text font-alt">
                                            <div class="mt-open">Open the map <i class="fa fa-angle-down"></i></div>
                                            <div class="mt-close">Close the map <i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>

</div> <!-- /.block -->
</div>

</div>

</div>

</div>


</div>

</section>