<section>
    <div  class = ' container' style = 'padding-top: 100px;'>
        <div  class = ' row'>
            <div  class = ' col-sm-8 col-md-offset-2'>
                <h4  class = ' align-center font-alt uppercase' style = 'margin-bottom: 70px;'>FIND US
                </h4>
                <div  class = ' row'>
                    <div  class = ' col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0'>
                        <div  class = ' contact-item'><div class="ci-icon"><i class="fa fa-phone"></i></div><div class="ci-title font-alt">Call Us</div><div class="ci-text">
                            +61 3 8376 6284
                            </div></div>
                    </div>
                    <div  class = ' col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0'>
                        <div  class = ' contact-item'><div class="ci-icon"><i class="fa fa-map-marker"></i></div><div class="ci-title font-alt">Address</div><div class="ci-text">
                            245 Quigley Blvd, Ste K
                            </div></div>
                    </div>
                    <div  class = ' col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0'>
                        <div  class = ' contact-item'><div class="ci-icon"><i class="fa fa-envelope"></i></div><div class="ci-title font-alt">Address</div><div class="ci-text">
                            <a href="mailto:support@bestlooker.pro">support@bestlooker.pro</a>
                            </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>