--- 
layout: default 
title: Home
titleAfter: Website, Social Media Management, Branding, Graphic Design 
meta: Get a World-Class Website Today! And advertise your business on Facebook, Instagram, Google and YouTube! We give you and your business a professional look and feel through branding, graphic design, app development and much more.
priority: 1.0
header:
    -
--- 

{% include home/home-slider.html %}

<span id = "scroll036251"></span>
<section class="" style="padding-top: 40px; padding-bottom: 0;">
    <div class="container">
        <h4 class=' align-center font-alt uppercase' style='margin: 50px 0;'>WELCOME TO <span class="orange">RONEL</span></h4>
        <p class="intro-txt"> At RONEL, we are a team of friendly, highly trained professionals doing our best to make your images come to life. We have unparalleled experience in the  <strong class="mono-font">Creative</strong> and <strong class="mono-font">IT solution</strong> ecosystem. Our key competences include but not limited to Website &amp; Mobile App Development, Graphic Design, Branding, Digital Marketing &amp; Social Media Campaign, Software Development &amp; Implementation, and Network Engineering &amp; IT Security Services.</p>
    </div>
</section>
<!--add a class of nd-region to section below make full-width -->
<section>
    <div class="container-fluid">
        <div id="Content" class="row">
            <div id="content" class="col-md-12 ">
                <div class="region region-content">
                        <div class="block-content clearfix">
                            <div class="clearfix">
                                
                                  
                                  
                                   <div class="content">
                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    
                                        
                                    <div class=" clearfix pb20">
                                       {% include home/section-home-services.html %}
                                       
                                        
                                    </div>
<!--                                    <hr>-->
                                    
                                        {% include home/section-intro-home.html %}
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- /.block -->
                </div>
            </div>
        </div>
    </div>
</section>
{% include home/section-exclusive.html %}
{% include home/section-choose.html %}
{% include home/section-core-values.html %}
<section class="nd-region">
        {% include home/section-work.html %}
</section>
        
<!--
<div class="nd-region">
    <div class="container-fluid">
        <div id="Content-Bottom-Full-Width" class="row"> </div>
    </div>
</div>-->
        {% include home/section-testimonial.html %}
        {% include home/section-mini-carousel.html %}
        
<!--some latest blog post-->

<!--some latest blog post end-->

