<div style='padding-left: 20px; padding-right: 20px; padding-top: 40px; padding-bottom: 40px; margin-top: 60px; border: 1px solid rgba(229,89,1, .09); border-radius:;'>
    <div class=' row'>
        <div class=' col-sm-3'>
            <div>
                <div class="count-number">201</div>
                <div class="count-descr font-alt"> <i class="fa fa-coffee"></i> <span class="count-title">Proposals</span> </div>
            </div>
        </div>
        <div class=' col-sm-3'>
            <div>
                <div class="count-number">155</div>
                <div class="count-descr font-alt"> <i class="fa fa-briefcase"></i> <span class="count-title">COMPLETED PROJECTS</span> </div>
            </div>
        </div>
        <div class=' col-sm-3'>
            <div>
                <div class="count-number">150</div>
                <div class="count-descr font-alt"> <i class="fa fa-heart"></i> <span class="count-title">HAPPY CLIENTS</span> </div>
            </div>
        </div>
        <div class=' col-sm-3'>
            <div>
                <div class="count-number">485</div>
                <div class="count-descr font-alt"> <i class="fa fa-lightbulb-o"></i> <span class="count-title">GREAT IDEAS</span> </div>
            </div>
        </div>
    </div>
</div>