--- 
layout: blog 
title: Blog
titleAfter: Writing about the future of Web, Graphics, Apps, Computers, and Technological changes in RONEL and around the world. 
heading: BLOG
meta: We blog about technological advancement in web design and development, graphics, creative and branding, new systems and tools that boost efficiency, social media management tips, computer and phone or electronic device/ gudget fix and tweaks etc. 
date: 
changefreq: weekly 
lastmod: 2017-05-07 
permalink: "/blog/" 
breadImgUrl: bg-21.jpg
--- 
{% include global/slider.html %} 
<span id="scroll036251"></span>



<div class="nd-region">
    <div class="container" style="padding-top: 140px;">
        <div id="Content" class="row">
            <div id="content" class="col-md-8 ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2"></div>
                    </div>
                </div>
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system  ">
                        <div class="block-content clearfix">
                            <div class="view view-blog-fullwidth">
                                <div class="clearfix"></div>
                                <div class="view-content">
                                    <!--      car POST-->
                                {% for post in page.posts %} 
                                    <div>
                                        <div id="node-124" class="node node-nd-blog node-teaser clearfix">
                                            <div class="blog-item">
                                                <div class="blog-item-date"> <span class="date-num">15</span>Feb </div>
                                                <!-- Post Title -->
                                                <h2 class="blog-item-title font-alt"><a href="../blog-item/design-trends-2015-year/index.html">car / vehicle branding </a></h2>
                                                <!-- Author, Categories, Comments -->
                                                <div class="blog-item-data"> <a href="#"><i class="fa fa-clock-o"></i> 15 Feb </a> <span class="separator">&nbsp;</span> <a href="#"><i class="fa fa-user"></i>SIMON</a> <span class="separator">&nbsp;</span> <i class="fa fa-folder-open"></i>
                                                    <div class="field field-name-field-blog-category field-type-taxonomy-term-reference field-label-hidden"><a href="blog-category/branding/index.html">Branding</a>, <a href="blog-category/design/index.html">Design</a></div> <span class="separator">&nbsp;</span> <a href="#"><i class="fa fa-comments"></i> Comments</a> </div>
                                                <!-- Text Intro -->
                                                <div class="blog-item-body">
                                                    {% include blog/slider-car.html %}
                                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                        <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(95, 95, 95); font-family: 'Open Sans', arial, sans-serif; font-size: 16px; line-height: 28.7999992370605px;">Car/Vehicle Branding is advertisement on wheels. It puts you out there like a carousel in different places. And because most often the vehicle is in motion, and the time to read is short, the artwork must be unique, captivating and yet simple.</p>
                                                    </div>
                                                </div>
                                                <!-- Read More Link -->
                                                <div class="blog-item-foot"> <a href="/blog/blog-item/2017/02/car-branding/" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  END TOTAL-->
                                {% endfor %}
                                
                                    
                                    
                                    <div>
                                        <div id="node-120" class="node node-nd-blog node-teaser clearfix">
                                            <div class="blog-item">
                                                <div class="blog-item-date"> <span class="date-num">19</span>Dec </div>
                                                <!-- Post Title -->
                                                <h2 class="blog-item-title font-alt"><a href="../blog-item/quote-post-only/index.html">Steve Jobs - Simplicity Quote</a></h2>
                                                <!-- Author, Categories, Comments -->
                                                <div class="blog-item-data"> <a href="#"><i class="fa fa-clock-o"></i> 19 Dec </a> <span class="separator">&nbsp;</span> <a href="#"><i class="fa fa-user"></i> admin</a> <span class="separator">&nbsp;</span> <i class="fa fa-folder-open"></i>
                                                    <div class="field field-name-field-blog-category field-type-taxonomy-term-reference field-label-hidden"><a href="blog-category/tech/index.html">Tech News</a></div> <span class="separator">&nbsp;</span> <a href="#"><i class="fa fa-comments"></i> 0 Comments</a> </div>
                                                <!-- Text Intro -->
                                                <div class="blog-item-body">
                                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                        <blockquote class=' blog-item-q'>
                                                            <p>That’s been one of my mantras — focus and simplicity. Simple can be harder than complex; you have to work hard to get your thinking clean to make it simple.</p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                <!-- Read More Link -->
                                                <div class="blog-item-foot"> <a href="blog-item/archive/quote-steve-jobs/index.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div id="node-35" class="node node-nd-blog node-teaser clearfix">
                                            <div class="blog-item">
                                                <div class="blog-item-date"> <span class="date-num">11</span>Dec </div>
                                                <!-- Post Title -->
                                                <h2 class="blog-item-title font-alt"><a href="blog-item/2017/01/goproject/">GO Project Logo and Web Design</a></h2>
                                                <!-- Author, Categories, Comments -->
                                                <div class="blog-item-data"> <a href="#"><i class="fa fa-clock-o"></i> 11 Dec </a> <span class="separator">&nbsp;</span> <a href="#"><i class="fa fa-user"></i> Nii Martey</a> <span class="separator">&nbsp;</span> <i class="fa fa-folder-open"></i>
                                                    <div class="field field-name-field-blog-category field-type-taxonomy-term-reference field-label-hidden"><a href="blog-category/branding/">Branding</a>, <a href="blog-category/social-media/">Social Media</a>, <a href="blog-category/website/">Website</a></div> <span class="separator">&nbsp;</span> <a href="#"><i class="fa fa-comments"></i> 4 Comments</a> </div>
                                                <!-- Text Intro -->
                                                <div class="blog-item-body">
                                                    <div class="field field-name-field-images field-type-image field-label-hidden">
                                                        <ul class="clearlist content-slider mb-40">
                                                            <li><img src="../assets/img/goproject-creatives.jpg" width="1140" height="642" alt="Alt" /></li>
                                                            <li><img src="../assets/img/goproject1.jpg" width="1140" height="642" alt="Alt" /></li>
                                                            <li><img src="../assets/img/goproject2.jpg" width="1140" height="642" alt="Alt" /></li>
                                                            <li><img src="../assets/img/goproject3.jpg" width="1140" height="642" alt="Alt" /></li>
                                                        </ul>
                                                    </div>
                                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                        <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(95, 95, 95); font-family: 'Open Sans', arial, sans-serif; font-size: 16px; line-height: 28.7999992370605px;">GO Project Christian Network (hereinafter referred to as GO Project) is a Christian charity. It is a not-for-profit, non governmental, non partisan, non racial, non political, and social and civil society organisation.</p>
                                                    </div>
                                                </div>
                                                <!-- Read More Link -->
                                                <div class="blog-item-foot"> <a href="blog-item/2017/01/goproject/" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination">
                                    <div class="item-list">
                                        <ul class="pager">
                                            <li class="pager-current first"><a href="#" class="active">1</a></li>
                                            <li class="pager-item"><a title="Go to page 2" href="index-page=1.html">2</a></li>
                                            <li class="pager-next"><a href="index-page=1.html"><i class="fa fa-angle-right"></i></a></li>
                                            <li class="pager-last last"><a href="index-page=1.html"><i class="fa fa-angle-double-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.block -->
                </div>
            </div>
            <!--          SIDE BAR-->
            <div id="sidebar" class="col-md-3 col-md-offset-1 ">
                <div class="region region-sidebar">
                    <div id="block-search-form" class="block block-search  mb-60 mb-60">
                        <div class="block-content clearfix">
                            <form class="form" action="/blog-sidebar-right" method="post" id="search-block-form--2" accept-charset="UTF-8">
                                <div>
                                    <div class="container-inline">
                                        <h2 class="element-invisible">Search form</h2>
                                        <div class="search-wrap">
                                            <button class="search-button animate" type="submit" title="Start Search"><i class="fa fa-search"></i></button>
                                            <div class="form-item form-type-textfield form-item-search-block-form">
                                                <input title="Enter the terms you wish to search for." placeholder="Search.." class="input-md form-control round" type="text" id="edit-search-block-form--4" name="search_block_form" value="" size="15" maxlength="128" /> </div>
                                        </div>
                                        <div class="hidden form-actions form-wrapper" id="edit-actions--2">
                                            <input class="btn-medium btn btn-mod btn-round form-submit" type="submit" id="edit-submit--2" name="op" value="Search" />
                                        </div>
                                        <input type="hidden" name="form_build_id" value="form-41u3Pa6ZcYd3dRNN6gffQ7oIFHPfky8jfc3_AySd71w" />
                                        <input type="hidden" name="form_id" value="search_block_form" /> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.block -->
                    <div id="block-views-shop-categories-block-1" class="block block-views  mb-60 mb-60">
                        <h5 class="font-alt mb-sm-40  widget-title">Blog Taxonomies</h5>
                        <div class="block-content clearfix">
                            <div class="view view-shop-categories view-id-shop_categories view-display-id-block_1 view-dom-id-8b83b1c5f815d155837e1d2d886aa0ae">
                                <div class="clearfix"></div>
                                <div class="view-content">
                                    <div class="widget-body">
                                        <ul class="clearlist widget-menu">
                                            <li class="clearfix "> <a href="/blog/blog-category/branding/">Branding <small> - 3</small></a> </li>
                                            <li class="clearfix "> <a href="/blog/blog-category/website/">Websites & Apps<small> - 2</small></a> </li>
                                            <li class="clearfix "> <a href="/blog/blog-category/design/">Design <small> - 4</small></a> </li>
                                            <li class="clearfix "> <a href="/blog/blog-category/social-meda/">Social Media <small> - 3</small></a> </li>
                                            <li class="clearfix "> <a href="/blog/blog-category/tech/">Tech News<small> - 1</small></a> </li>
                                            <li class="clearfix "> <a href="/blog/blog-category/photography/">Photography<small> - 1</small></a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.block -->
                    <div id="block-views-products-tags-block" class="block block-views  mb-60 mb-60">
                        <h5 class="font-alt mb-sm-40  widget-title">Tags</h5>
                        <div class="block-content clearfix">
                            <div class="view view-products-tags view-id-products_tags view-display-id-block view-dom-id-5ff698c54074ead785adedd68216bef1">
                                <div class="clearfix"></div>
                                <div class="view-content">
                                    <div class="tags"> <a href="../blog/tags/branding/index.html">Branding</a> </div>
                                    <div class="tags"> <a href="../blog/tags/tech-news/index.html">Tech</a> </div>
                                    <div class="tags"> <a href="../blog/tags/design/index.html">Design</a> </div>
                                    <div class="tags"> <a href="../blog/tags/digital-marketing/index.html">Digital Marketing</a> </div>
                                    <div class="tags"> <a href="../blog/tags/photo/index.html">Photography</a></div>
                                    <div class="tags"> <a href="../blog/tags/portfolio/index.html">Portfolio</a> </div>
                                    <div class="tags"> <a href="../blog/tags/ads/index.html">Advertising &amp; Print</a> </div>
                                    <div class="tags"> <a href="../blog/tags/ui-ux/index.html">UI &amp; UX</a> </div>
                                    <div class="tags"> <a href="../blog/tags/webapps/index.html">Web &amp; Apps</a> </div>
                                    <div class="tags"> <a href="../blog/tags/trending/index.html">Trending</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.block -->
                    <div id="block-views-last-posts-block" class="block block-views  mb-60 mb-60">
                        <h5 class="font-alt mb-sm-40  widget-title">Lastest Posts</h5>
                        <div class="block-content clearfix">
                            <div class="view view-last-posts view-id-last_posts view-display-id-block view-dom-id-c32364b3c33e293381dc58cbd4fb0196">
                                <div class="clearfix"></div>
                                <div class="view-content">
                                    <div class="widget-body">
                                        <ul class="clearlist widget-posts">
                                            <!--      new post         -->
                                            <!--
<li class="clearfix ">   
<span class="widget-posts-img"><a href="#"><img src="/assets/img/timeline-02.jpg" width="70" height="70" alt="Alt" /></a></span><div class = "widget-posts-descr">
<span class="field-content"><a href="#">New Web Design Trends in 2015 year</a></span>  Posted by admin 11 Feb</div>

</li>
<li class="clearfix ">   
<span class="widget-posts-img"><a href="#"><img src="/assets/img/timeline-02.jpg" width="70" height="70" alt="Alt" /></a></span><div class = "widget-posts-descr">
<span class="field-content"><a href="#">Minimalistic Design Forever</a></span>  Posted by admin 11 Feb</div>

</li>
-->
                                            <!--     end new post-->
                                            <li class="clearfix "> <span class="widget-posts-img"><a href="/blog/blog-item/2017/02/car-branding/"><img src="../assets/img/blog/car-branding-thumb.jpg" width="70" height="70" alt="Alt" /></a></span>
                                                <div class="widget-posts-descr"> <span class="field-content"><a href="/blog/blog-item/archive/time-stamp-total-ads/">Car / Vehicle Branding </a></span> Designed by Simon 15 Feb</div>
                                            </li>
                                            <li class="clearfix "> <span class="widget-posts-img"><a href="/blog/blog-item/2017/02/ronel-history/"><img src="../assets/img/portfolio/macbook-pro-thumb.png" width="70" height="70" alt="Alt" /></a></span>
                                                <div class="widget-posts-descr"> <span class="field-content"><a href="/blog/blog-item/2017/02/ronel-history/">History of RONEL</a></span> Post by Nii Martey 27 Mar</div>
                                            </li>
                                            <li class="clearfix "> <span class="widget-posts-img"><a href="/blog/blog-item/2017/02/logo-design/"><img src="../assets/img/logo-design-thumb.jpg" width="70" height="70" alt="Alt" /></a></span>
                                                <div class="widget-posts-descr"> <span class="field-content"><a href="/blog/blog-item/2017/02/logo-design/">Logo Design</a></span> Post by Nii Martey 1 Jan</div>
                                            </li>
                                            <li class="clearfix "> <span class="widget-posts-img"><a href="/blog/blog-item/2017/01/goproject/"><img src="/assets/img/goproject-creatives-thumb.jpg" width="70" height="70" alt="Alt" /></a></span>
                                                <div class="widget-posts-descr"> <span class="field-content"><a href="/blog/blog-item/2017/01/goproject/">Logo Design</a></span> Posted by Nii Martey 11 Dec </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.block -->
                    <!--
<div id="block-views-products-comments-block-1" class="block block-views  mb-60 mb-60" >

<h5 class="font-alt mb-sm-40  widget-title">Blog Comments</h5>

<div class = "block-content clearfix">
<div class="view view-products-comments view-id-products_comments view-display-id-block_1 view-dom-id-e15b248aab0385fbb3b36a75bf86ea6f">


<div class="clearfix"></div>


<div class="view-content">
<div class="widget-body">    <ul class="clearlist widget-comments">          <li class="clearfix ">  
admin on    
<a href="../blog-item/design-trends-2015-year/index.html">Design Trends in 2015 year</a>  </li>
<li class="clearfix ">  
admin on    
<a href="../blog-item/hipster%E2%80%99s-style-web-design-and-logo/index.html">Hipster’s Style in Web Design and Logo</a>  </li>
<li class="clearfix ">  
admin on    
<a href="../blog-item/hipster%E2%80%99s-style-web-design-and-logo/index.html">Hipster’s Style in Web Design and Logo</a>  </li>
<li class="clearfix ">  
admin on    
<a href="../blog-item/hipster%E2%80%99s-style-web-design-and-logo/index.html">Hipster’s Style in Web Design and Logo</a>  </li>
<li class="clearfix ">  
admin on    
<a href="../blog-item/hipster%E2%80%99s-style-web-design-and-logo/index.html">Hipster’s Style in Web Design and Logo</a>  </li>
</ul></div>    </div>






</div>  </div>

</div>  /.block 
-->
                    <!--
<div id="block-block-6" class="block block-block  mb-60 mb-60" >

<h5 class="font-alt mb-sm-40  widget-title">Text Widget</h5>

<div class = "block-content clearfix">
<div  class = ' widget-body widget-text clearfix'><p><img alt="" class="img-circle left img-left" src="http://local.rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/user-avatar.png" style="height: 70px; width: 70px; margin: 0px 10px 10px 0px;">Consectetur adipiscing elit. Quisque magna ante eleifend eleifend. Purus ut dignissim consectetur, nulla erat ultrices purus, ut consequat sem elit non sem. Quisque magna ante eleifend eleifend.</p></div>
</div>

</div> 
-->
                    <!-- /.block -->
                    <div id="block-views-archive-block" class="block block-views  mb-60 mb-60">
                        <h5 class="font-alt mb-sm-40  widget-title">Archive</h5>
                        <div class="block-content clearfix">
                            <div class="view view-archive view-id-archive view-display-id-block view-dom-id-b65f934da0a458f4892238febc883080">
                                <div class="clearfix"></div>
                                <div class="view-content">
                                    <div class="item-list">
                                        <ul class="views-summary">
                                            <li><a href="../blog/blog-item/archive/">Archive</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.block -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nd-region">
    <div class="container-fluid">
        <div id="Content-Bottom-Full-Width" class="row"> </div>
    </div>
</div>
<div class="nd-region">
    <div class="container">
        <div id="Content-Bottom" class="row"> </div>
    </div>
</div>
