--- 
layout: default 
title: About
header: 
permalink: "/about/" 
--- 
{% include global/slider-text.html %} 

<section>
    <div  id="footer" class="col-md-12 " style="padding-top: 80px; padding-bottom: 80px; ">
<div class="nd-region">
    <div class="container-fluid">
        <div id="Content" class="row">
            <div id="content" class="col-md-12 ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2"></div>
                    </div>
                </div>
                {% include about/intro.html %}
            </div>
        </div>
    </div>
    
</div>
</div>
</section>

                {% include about/mission-vision.html %}
                {% include about/team.html %}
<section class="nd-region" style="padding-top: 80px">
    <div class="region region-footer">
        <div id="block-block-13" class="block block-block " >
            <div class = "block-content clearfix">
                <section  class = ' bg-dark page-section bg-scroll pi-text-center' style = 'padding-top: 60px; padding-bottom: 60px; text-align:center;'>
                    <h4  class = ' align-center font-alt uppercase white fw-300'>Get to know and work with us?
                    </h4>
                    <a  class = ' btn btn-mod btn-gray btn-medium btn-round' href = '{{site.url}}/contact/'>SAY HI</a>
                </section>
            </div>
        </div> <!-- /.block -->
    <!-- /.block -->
</div>
  
                
                <div class="container">
                    <div id="Content-Bottom" class="row"> </div>
                    
                </div>
                {% include home/section-choose.html %}
                <hr>
                {% include about/timeline.html %}
</section>
<!--
<div class="nd-region">
    <div class="container">
        <div id="Content-Bottom" class="row"> </div>
    </div>
</div>
<div class="nd-region">
    <div class="container-fluid">
        <div id="Content-Bottom-Full-Width" class="row"> </div>
    </div>
</div>-->
