<h3 class="title slim">Comments</h3>
<div class="mb-80 mb-xs-40" id="disqus_thread">
<!--Disqus start-->
    {% include blog/disqus.html %}
<!--Disqus end-->
    
       
       <div class="mb-60 mb-xs-30">
        <h3 class="title slim">Comments</h3>
        <ul class="media-list text comment-list clearlist">
            <li class="media comment-item">
                <a id="comment-21"></a>
                <a class="pull-left" href="#"><img class="media-object comment-avatar" src="/assets/images/user-avatar.png" alt="Alt" /> </a>
                <div class="media-body">
                    <div class="comment-item-data">
                        <div class="comment-author"> <a href="#">Simon Danso</a> </div> Tue, 01/10/2017 - 09:11<span class="separator">—</span> <a href="/blog/comment/reply/"><i class="fa fa-comment"></i> reply </a> <span>
                        </span> </div>
                    <div class="field field-name-comment-body field-type-text-long field-label-hidden">Praesent ultricies ut ipsum non laoreet. Nunc ac ultricies leo. Nulla ac ultrices arcu. Nullam adipiscing lacus in consectetur posuere. Nunc malesuada tellus turpis, ac pretium orci molestie vel. Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa. Fusce non ante sed lorem rutrum feugiat.</div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <h4 class="blog-page-title font-alt">Leave a Comment</h4> </div>
    <form class="comment-form form" action="/comment/reply/124" method="post" id="comment-form" accept-charset="UTF-8">
        <div>
            <div class="row mb-md-10">
                <div class="col-md-6 mb-md-10">
                    <div class="form-item form-type-textfield form-item-name">
                        <input placeholder="Your name" class="input-md form-control round" type="text" id="edit-name" name="name" value="" size="30" maxlength="60" /> </div>
                    <input type="hidden" name="form_build_id" value="form-RHq7pHgoMJteqrVOBA7yvD8XbWqq5yw6tUQarx--4ig" />
                    <input type="hidden" name="form_id" value="comment_node_nd_blog_form" /> </div>
                <div class="col-md-6 mb-md-10">
                    <div class="field-type-text field-name-field-email field-widget-text-textfield form-wrapper" id="edit-field-email">
                        <div id="field-email-add-more-wrapper">
                            <div class="form-item form-type-textfield form-item-field-email-und-0-value">
                                <input class="text-full input-md form-control round" placeholder="Email" type="text" id="edit-field-email-und-0-value" name="field_email[und][0][value]" value="" size="60" maxlength="255" /> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-item form-type-textfield form-item-subject">
                <input placeholder="Subject" class="input-md form-control round" type="text" id="edit-subject" name="subject" value="" size="60" maxlength="64" /> </div>
            <div class="field-type-text-long field-name-comment-body field-widget-text-textarea form-wrapper" id="edit-comment-body">
                <div id="comment-body-add-more-wrapper">
                    <div class="form-item form-type-textarea form-item-comment-body-und-0-value">
                        <div class="form-textarea-wrapper form-group resizable">
                            <textarea class="text-full input-md form-control round form-textarea required" placeholder="Comment" id="edit-comment-body-und-0-value" name="comment_body[und][0][value]" cols="60" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset class="captcha form-wrapper">
                <legend><span class="fieldset-legend">CAPTCHA</span></legend>
                <div class="fieldset-wrapper">
                    <div class="fieldset-description">This question is for testing whether or not you are a human visitor and to prevent automated spam submissions.</div>
                    <input type="hidden" name="captcha_sid" value="44705" />
                    <input type="hidden" name="captcha_token" value="52456b2a95287b0a95cd2547aed55a58" />
                    <div class="form-item form-type-textfield form-item-captcha-response"> <span class="field-prefix">1 + 0 = </span>
                        <input placeholder="Math question" class="input-md form-control round" type="text" id="edit-captcha-response" name="captcha_response" value="" size="4" maxlength="2" />
                        <div class="description">Solve this simple math problem and enter the result. E.g. for 1+3, enter 4.</div>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions form-wrapper" id="edit-actions">
                <input class="btn-medium btn btn-mod btn-round form-submit" type="submit" id="edit-submit" name="op" value="Send Comment" />
                <input class="btn-medium btn btn-mod btn-round form-submit" type="submit" id="edit-preview" name="op" value="Preview" /> </div>
        </div>
    </form>
</div>