                    {% for post == page.posts %}
                    <div class="col-md-4 col-lg-4 mb-60 mb-xs-40">
                        <div class="post-prev-img">
                            <a href="/blog/blog-item/2017/02/ronel-history/"><img src="/assets/img/portfolio/print-ppt.jpg" width="360" height="195" alt="Alt" /></a>
                        </div>
                        <div class="post-prev-title font-alt"> <span class="field-content"><a href="/blog/blog-item/2017/02/ronel-history/">HISTORY OF RONEL</a></span></div>
                        <div class="post-prev-info font-alt"> admin | 27 March</div>
                        <div class="post-prev-text"> Established in 2011 as RONEL IT SOLUTIONS - now RONEL Ghana - is a limited liability company which enjoys a reputation for professionalism and commitment to its clientele. </div> <span class="btn btn-mod btn-gray btn-round"><a href="/blog/blog-item/2017/02/ronel-history/">Read More</a></span> 
                    </div>
                    {% endfor %}
                    <div class="col-md-4 col-lg-4 mb-60 mb-xs-40">
                        <div class="post-prev-img">
                            <a href="/blog/blog-item/2017/02/car-branding/"><img src="/assets/img/blog/car%20branding.jpg" width="360" height="195" alt="Alt" /></a>
                        </div>
                        <div class="post-prev-title font-alt"> <span class="field-content"><a href="/blog/blog-item/2017/02/car-branding/">CAR BRANDING</a></span></div>
                        <div class="post-prev-info font-alt"> NII MARTEY | 15 FEBRUARY</div>
                        <div class="post-prev-text"> Car/Vehicle Branding is advertisement on wheels. It puts you out there like a carousel in different places. And because most often the vehicle is in motion, and the time to read is short, the artwork must be unique, captivating and yet simple.</div> <span class="btn btn-mod btn-gray btn-round"><a href="/blog/blog-item/2017/02/car-branding/">Read More</a></span> </div>
                    <div class="col-md-4 col-lg-4 mb-60 mb-xs-40">
                        <div class="post-prev-img">
                            <a href="/blog/blog-item/2017/02/logo-design/"><img src="/assets/img/blog/logo-GOPROJECT.png" width="360" height="195" alt="Alt" /></a>
                        </div>
                        <div class="post-prev-title font-alt"> <span class="field-content"><a href="/blog/blog-item/2017/01/goproject/">Creative - Go Project</a></span></div>
                        <div class="post-prev-info font-alt"> Nii Martey | 11 Dec</div>
                        <div class="post-prev-text"> GO Project Christian Network (hereinafter referred to as GO Project) is a Christian charity. It is a not-for-profit, non governmental, non partisan, non racial, non political, and social and civil society organisation.</div> <span class="btn btn-mod btn-gray btn-round"><a href="/blog/blog-item/2017/01/goproject/">Read More</a></span> </div>
                </div>
            </div>
        </div>
    </div>
</div>