<section class=' page-section bg-scroll page-section pbn' style='margin-bottom: 0;'>
    <!--services-->
    <div class=' container'>
        <h4 class=' align-center font-alt uppercase' > OUR <span class="orange">SERVICES</span></h4>
        <p class="intro-txt">Our team of professionals consists of creative designers, developers, photographers, hardware and networking experts, UI/UX-designers and motion graphic designers. Go through our services below for more information.</p>
        <ul class=" nav nav-tabs tpl-alt-tabs animate ">
            <li class="active">
                <a data-toggle="tab" href="#tab-247463" aria-expanded="true">
                    <div class="alt-tabs-icon"><span class="icon-strategy"></span></div>Brand & GRAPHICS DESIGN</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-247464" aria-expanded="false">
                    <div class="alt-tabs-icon"><span class="icon-desktop"></span></div>WEB & APP DEVELOPMENT</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-247465" aria-expanded="false">
                    <div class="alt-tabs-icon"><span class="icon-tools"></span></div>CONSULTANCY & TRAINING </a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-247466" aria-expanded="false">
                    <div class="alt-tabs-icon"><span class="icon-gears"></span></div>HARDWARE & NETWORKING</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-247467" aria-expanded="false">
                    <div class="alt-tabs-icon"><span class="icon-camera"></span></div>DIGITAL MARKETING</a>
            </li>
        </ul>
        <div class=" tab-content tpl-alt-tabs-cont section-text">
            <div class=' tab-pane fade active in' id='tab-247463'>
                <div class=' row'>
                    <div class=' col-sm-4'>
                        <blockquote>
                            <p>"Branding is about the promise of a distinct, memorable experience.” </p>
                            <footer>Deliverering your brand's message</footer>
                        </blockquote>
                    </div>
                    <div class=' col-sm-4'>
                        <p>The right exposure to the world in the line of business is branding. Our branding comes in a form of visual stimulating elements that tell your clients a bigger story of your purpose of being and vision. Our experts who are rich in the field of marketing and graphic designing are always available to assist you find the right voice for your organization’s goals and success consistently, across all media.</p>
                    </div>
                    <div class=' col-sm-4'> The core branding strategies that are employed by RONEL are:
                        <ul class="darkorange">
                            <li>Logo design</li>
                            <li>Brand strategy</li>
                            <li>Brand guidelines</li>
                            <li>Print & Advertising</li>
                            <li>Stationery</li>
                            <li>Brochures & catalogs</li>
                            <li>Infographics</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=' tab-pane fade' id='tab-247464'>
                <div class=' row'>
                    <div class=' col-sm-4'>
                        <blockquote>
                            <p>Web sites are the digital catalogs of your business</p>
                            <footer>Building your web presence</footer>
                        </blockquote>
                    </div>
                    <div class=' col-sm-4'>
                        <p>The lifeline for a company’s survival in today’s digital era is how information moves to and from organization to clients and vice - versa. An organization is driven by the value of the information it provides to its customers or followers. We build for you a web presence that is identified with precision, cohesion and quality. In addition, our web apps are responsive all mobile devices, and designed to give you the best user experience, unique in appearance, developed with functionality and accessibility that suites your targeted audience.</p>
                    </div>
                    <div class=' col-sm-4'> We creat outstanding web apps like:
                        <ul class="darkorange">
                            <li>Responsive Website Design</li>
                            <li>Application Development</li>
                            <li>Mobile Apps - iOS, Android etc.</li>
                            <li>WordPress, Joomla (CMS)</li>
                            <li>E-Commerce & Retail Online Shops</li>
                            <li>Database Design & Development</li>
                            <li>Search engine optimization (SEO)</li>
                            <li>Convertion Analytics & Metrics</li>
                            <li>Hosting & Management</li>
                            <li>Web Retainer/Maintenance</li>
                        </ul>
                        <br>
                        <!-- promo btn-->
                    </div>
                </div>
            </div>
            <div class=' tab-pane fade' id='tab-247465'>
                <div class=' row'>
                    <div class=' col-sm-4'>
                        <blockquote>
                            <p> We advise organizations on how best to use information technology (IT) in achieving their business objectives and offer learning services.</p>
                            <footer>Tomorrow's technology today</footer>
                        </blockquote>
                    </div>
                    <div class=' col-sm-4'>
                        <p>Are you having challenges deciding the kind of systems, you need or choosing a brand for your specific industry. Talk to us as we provide you with in-depth know-how as to what to do and also help you get it done. We would surround you with the elementary, obvious and standard technical solutions that would accelerate your growth, income, authority, success, and influence in your job related market. We also offer training and ICT (selected software) for career and business capacity building.</p>
                    </div>
                    <div class=' col-sm-4'> We offer conpendious training and consultancy in the line of:
                        <ul class="darkorange">
                            <li>IT Service Management (ITSM) Consulting</li>
                            <li>Digital Transformation Consulting</li>
                            <li>IT Operations Services</li>
                            <li>Workload Automation Services</li>
                            <li>Application Managed Services</li>
                            <li>Data Centre Automation Services</li>
                            <li>Cloud Consulting Services</li>
                            <li>IT Training & Education</li>
                        </ul>
                        <br>
                        <!-- promo btn-->
                    </div>
                </div>
            </div>
            <div class=' tab-pane fade' id='tab-247466'>
                <div class=' row'>
                    <div class=' col-sm-4'>
                        <blockquote>
                            <p>Your complete hardware repair, networking, software installation service centre. Secure your systems from hacks.</p>
                            <footer>Fix it, Maintain it, Secure it </footer>
                        </blockquote>
                    </div>
                    <div class=' col-sm-4'>
                        <p>Our helpful, friendly OEM, network certified and A+ Certified Technicians have much experience to provide consistent services to maintain your hardware and repair those that are not functioning anymore. The brand of hardware does not scare us; we are well equipped, knowledgeable and experience wise to provide standard repair schemes that would keep your hardware running for a longer period. Also, we keep your network running 24/ 7 /365 days a year – providing essential networking related services that keep your network running smoothly without you bothering of system downtimes. </p>
                    </div>
                    <div class=' col-sm-4'> Full hardware diagnostics and computer systems networking
                        <ul class="darkorange">
                            <li>Service & Repair of Computers and Printers</li>
                            <li>Memory and hard drive upgrades</li>
                            <li>Parts upgrade and installation</li>
                            <li>Apple Repair*</li>
                        </ul> Software repair services include:
                        <ul class="darkorange">
                            <li>Operating system and software installation</li>
                            <li>Data recovery and disaster assessment</li>
                            <li>Virus, spyware, and adware removal</li>
                            <li>Network and wireless troubleshooting</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=' tab-pane fade' id='tab-247467'>
                <div class=' row'>
                    <div class=' col-sm-4'>
                        <blockquote>
                            <p>If Digital Marketing has become the life-line; Social Media is that heart that keeps a business alife.</p>
                            <footer>Making Your Web Presence Know</footer>
                        </blockquote>
                    </div>
                    <div class=' col-sm-4'>
                        <p>Social media is the conduit that connects you directly to your audience, creating a dialog that provides valuable insights to your marketing objectives. We can help you to pinpoint who your audience is with deep analytics, greatly increasing conversion rates and driving potential customers to your website.
                            <br> We incorporate visual creative skills that turn heads of the view etching in mind a captivating memory.</p>
                    </div>
                    <div class=' col-sm-4'> Our packages of Digital and Social Media Marketing are:
                        <ul class="darkorange">
                            <li>Social Media Marketing </li>
                            <li>Marketing Campaigns</li>
                            <li>Blogging Outreach</li>
                            <li>Content Development</li>
                            <li>Reputation management (Social Media)</li>
                            <li>Email Marketing & Analytics</li>
                            <li>Conversion Rate Optimization</li>
                            <li>Paid Search Advertising</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='local-scroll pi-text-center' style=' text-align:center;'>
            <p><a class="section-more font-alt" href="#scroll013325" class="scroll-down">View all services </a></p>
        </div>
    </div>
    <!--end services-->
</section>
