<div class="region region-content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class=' container'>
            <div class=' row'>
                <div class=' col-sm-6'>
                    <h4 class=' align-left font-alt uppercase'>WHO WE ARE
                    </h4>
                    <h5><strong>RONEL Ghana Ltd.</strong>, We're Creative, Innovative and the Future </h5> <span class="exclaim">!</span>
                    <p>We are a group of young talents and tech savvies putting our souls into supporting businesses and start-ups grow. We want share your companiess vision and objetives with you through partnership building.
                        <br>
                        <br> Technological advise for profitable investment, branding, advertising and marketing, system networking, repair and maintenance as well as website and app development are our responsibility in this partnership. Yours is to focus on the main goals of your business that best leads to success.</p>
                </div>
                <div  class = ' col-sm-6 banner-image wow fadeInUp animated' style = 'visibility: visible; animation-name: fadeInUp;'>
                    <span ><img style="" src="{{site.url}}/assets/img/others/promo-4.png" alt="Alt" title="" /></span>
                </div>
            </div>


        </div>
        <!--  end line-->
    </div>
</div>
