<section class=" page-section section-dark-bg">
    <div class='container' style='margin-bottom: -20px;'>
        <h4 class=' align-center font-alt uppercase' style='margin-bottom: 70px;'>OUR <span class="orange"> STORY </span>
        </h4>
        <div class=' row'>
            <div class=' col-sm-8 col-sm-offset-2'>
                <div class="align-center mb-40 mb-xs-30">
                    <ul class=" nav nav-tabs tpl-minimal-tabs animate">
                        <li class="active"><a data-toggle="tab" href="#tab-202838" aria-expanded="true">Mission</a></li>
                        <li><a data-toggle="tab" href="#tab-202839" aria-expanded="false">Vision</a></li>
                        <li><a data-toggle="tab" href="#tab-202840" aria-expanded="false">History</a></li>
                    </ul>
                </div>
                <div class=" tab-content tpl-minimal-tabs-cont section-text align-center">
                    <div class=' tab-pane fade active in' id='tab-202838'>
                        <p>Has a mission to use complete creative and technology solutions to help businesses, resolve world problems and inculcate knowledge for capacity building and human development.</p>
                    </div>
                    <div class=' tab-pane fade' id='tab-202839'>
                        <p>Our vision is to be the epicenter of all digital solutions in the world. Ronel will be a "pool of intelligences and resources"; that would drive ideas via relational values of business and technology; into realistic solutions.</p>
                    </div>
                    <div class=' tab-pane fade' id='tab-202840'>
                        <p>Established in 2011 as RONEL IT SOLUTIONS - now RONEL Ghana - is a limited liability company which enjoys a reputation for professionalism and commitment to its clientele. RONEL Ghana revolves around Innovation, Creativity and Technology; as the epicentre of modern solution for businesses to thrive in this digital age.
                            <br>
                            <br>As an IT firm, we provide consultancy services that are uniquely tailored to their business needs, supply Information Technology (IT) products and renders services not limited to networking and deployment of computer and security systems. We are equipped with excellent set of skills that falls in the business line of corporate branding, digital marketing, social media management, web development, and application development. Undoubtedly, we have enjoyed numerous achievements. Be part of our never ending history of success. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>