<div class="nd-region">
    <div class="container-fluid">
        <div id="Content" class="row">
            <div id="content" class="col-md-12 ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2"></div>
                    </div>
                </div>
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system  ">
                        <div class="block-content clearfix">
                            <div id="node-113" class="node node-nd-page clearfix">
                                <div class="content">
                                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                        <div class=' container'>
                                            <div class=' row'>
                                                <div class=' col-sm-6'>
                                                    <h4 class=' align-left font-alt uppercase'>WHO WE ARE?
                                                                </h4>
                                                    <p>We are a group of young talents and tech savvies putting our souls into supporting businesses and start-ups grow. We want share your companiess vision and objetives with you through partnership building.
                                                        <br>
                                                        <br> Technological advise for profitable investment, branding, advertising and marketing, system networking, repair and maintenance as well as website and app development are our responsibility in this partnership. Yours is to focus on the main goals of your business that best leads to success.</p>
                                                </div>
                                                <div class=' col-sm-6'>
                                                    <h4 class=' align-right font-alt uppercase'>Our Skills Set?</h4>
                                                    <div class="progress tpl-progress">
                                                        <div class='progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" style="width: 90%;">BRAND & GRAPHICS DESIGN <span>95%</span> </div>
                                                    </div>
                                                    <!--<div class="progress tpl-progress"><div  class = ' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" style="width: 95%;">DESIGN, %<span>95</span>
    </div></div>-->
                                                    <div class="progress tpl-progress">
                                                        <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" style="width: 85%;">WEBSITE<span>85%</span> </div>
                                                    </div>
                                                    <div class="progress tpl-progress">
                                                        <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" style="width: 90%;">DIGITAL MARKETING & SOCIAL MEDIA <span>80%</span> </div>
                                                    </div>
                                                    <div class="progress tpl-progress">
                                                        <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" style="width: 80%;">DEVELOPMENT <span>90%</span> </div>
                                                    </div>
                                                    <div class="progress tpl-progress">
                                                        <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" style="width: 85%;">HARDWARE, NETWORKING & SECURITY <span>90%</span> </div>
                                                    </div>
                                                    <div class="progress tpl-progress">
                                                        <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" style="width: 85%;">PHOTOGRAPHY <span>80%</span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style='padding-left: 20px; padding-right: 20px; padding-top: 40px; padding-bottom: 40px; margin-top: 60px; border: 1px solid rgba(229,89,1, .09); border-radius:;'>
                                                <div class=' row'>
                                                    <div class=' col-sm-3'>
                                                        <div>
                                                            <div class="count-number">201</div>
                                                            <div class="count-descr font-alt"> <i class="fa fa-coffee"></i> <span class="count-title">Proposals</span> </div>
                                                        </div>
                                                    </div>
                                                    <div class=' col-sm-3'>
                                                        <div>
                                                            <div class="count-number">155</div>
                                                            <div class="count-descr font-alt"> <i class="fa fa-briefcase"></i> <span class="count-title">COMPLETED PROJECTS</span> </div>
                                                        </div>
                                                    </div>
                                                    <div class=' col-sm-3'>
                                                        <div>
                                                            <div class="count-number">150</div>
                                                            <div class="count-descr font-alt"> <i class="fa fa-heart"></i> <span class="count-title">HAPPY CLIENTS</span> </div>
                                                        </div>
                                                    </div>
                                                    <div class=' col-sm-3'>
                                                        <div>
                                                            <div class="count-number">485</div>
                                                            <div class="count-descr font-alt"> <i class="fa fa-lightbulb-o"></i> <span class="count-title">GREAT IDEAS</span> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style='padding-top: 70px;'>
                                                <div class="view view-team view-id-team view-display-id-block view-dom-id-fe90c8b7fbfb2e5208ff9aba22420082">
                                                    <div class="clearfix"></div>
                                                    <div class="view-content">
                                                        <h4 class=' align-center font-alt uppercase' style='margin-bottom: 70px;'>
                                                                        Say Hi to <span class="orange">OUR TEAM</span>
                                                                    </h4>
                                                        <p class="intro-txt">Our small team consists of creative designers, developers, photographers, hardware and networking experts, UI/UX-designers and motion graphic designers. Follow us!</p>
                                                        <div class="row">
                                                            <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.1s" style="padding-bottom: 40px;">
                                                                <div class="team-item node node-nd-person">
                                                                    <div class="team-item-image">
                                                                        <div class="field field-name-field-image field-type-image field-label-hidden"><img src="../../assets/img/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                                                                        <div class="team-item-detail">
                                                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                                <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">
                                                                                            Hello & Welcome</h4>
                                                                                <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">We are here to help&nbsp;you and your goals&nbsp;so let's hear&nbsp;your story</p>
                                                                            </div>
                                                                            <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                                                                <div class="team-social-links"><a href="http://facebook.com/niimarteygh" target="_blank"><i class=" fa fa-facebook"></i></a> <a href="http://twitter.com/de-martey" target="_blank"><i class=" fa fa-twitter"></i></a> <a href="http://niimartey.com" target="_blank"><i class=" fa fa-linkedin"></i></a> </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="team-item-descr font-alt">
                                                                        <div class="team-item-name"> Martey Newman-Adjiri </div>
                                                                        <div class="team-item-role">
                                                                            <div class="field field-name-field-position field-type-text field-label-hidden">Web Developer</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.2s">
                                                                <div class="team-item node node-nd-person">
                                                                    <div class="team-item-image">
                                                                        <div class="field field-name-field-image field-type-image field-label-hidden"><img src="../../assets/img/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                                                                        <div class="team-item-detail">
                                                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                                <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">
                                                                                            WHATS UP!</h4>
                                                                                <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Let's help you&nbsp;convert your &nbsp;idea into a&nbsp;successful app.</p>
                                                                            </div>
                                                                            <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                                                                <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a> <a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a> <a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a> </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="team-item-descr font-alt">
                                                                        <div class="team-item-name"> Moses Amoasi Acquah </div>
                                                                        <div class="team-item-role">
                                                                            <div class="field field-name-field-position field-type-text field-label-hidden">Developer</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.3s">
                                                                <div class="team-item node node-nd-person">
                                                                    <div class="team-item-image">
                                                                        <div class="field field-name-field-image field-type-image field-label-hidden"><img src="../../assets/img/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                                                                        <div class="team-item-detail">
                                                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                                <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">
                                                                                            NICE TO MEET!</h4>
                                                                                <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.</p>
                                                                            </div>
                                                                            <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                                                                <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a> <a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a> <a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a> </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="team-item-descr font-alt">
                                                                        <div class="team-item-name"> Simon Danso </div>
                                                                        <div class="team-item-role">
                                                                            <div class="field field-name-field-position field-type-text field-label-hidden">Creative Director</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.4s">
                                                                <div class="team-item node node-nd-person">
                                                                    <div class="team-item-image">
                                                                        <div class="field field-name-field-image field-type-image field-label-hidden"><img src="../../assets/img/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                                                                        <div class="team-item-detail">
                                                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                                <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">
                                                                                            HELLO &amp; WELCOME!</h4>
                                                                                <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
                                                                            </div>
                                                                            <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                                                                <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a> <a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a> <a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a> </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="team-item-descr font-alt">
                                                                        <div class="team-item-name"> David B. Ashong </div>
                                                                        <div class="team-item-role">
                                                                            <div class="field field-name-field-position field-type-text field-label-hidden">Web Designer/ Content </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--  new line-->
                                                    <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.1s">
                                                        <div class="team-item-image">
                                                            <div class="field field-name-field-image field-type-image field-label-hidden"><img src="../../assets/img/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                                                            <div class="team-item-detail">
                                                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                    <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">
                                                                                HI TO ALL!</h4>
                                                                    <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.</p>
                                                                </div>
                                                                <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                                                    <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a> <a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a> <a href="http://ronelghana" target="_blank"><i class=" fa fa-linkedin"></i></a> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="team-item-descr font-alt">
                                                            <div class="team-item-name"> Justice Marvin Payne</div>
                                                            <div class="team-item-role">
                                                                <div class="field field-name-field-position field-type-text field-label-hidden">IT Specialist</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.2s">
                                                    <div class="team-item node node-nd-person">
                                                        <div class="team-item-image">
                                                            <div class="field field-name-field-image field-type-image field-label-hidden"><img src="../../assets/img/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                                                            <div class="team-item-detail">
                                                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                    <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">
                                                                                WHATS UP!</h4>
                                                                    <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.</p>
                                                                </div>
                                                                <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                                                    <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a> <a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a> <a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="team-item-descr font-alt">
                                                            <div class="team-item-name"> Divina H. Kumahor</div>
                                                            <div class="team-item-role">
                                                                <div class="field field-name-field-position field-type-text field-label-hidden">Brand Strategist</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.3s">
                                                    <div class="team-item node node-nd-person">
                                                        <div class="team-item-image">
                                                            <div class="field field-name-field-image field-type-image field-label-hidden"><img src="../../assets/img/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                                                            <div class="team-item-detail">
                                                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                    <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">
                                                                                NICE TO MEET!</h4>
                                                                    <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.</p>
                                                                </div>
                                                                <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                                                    <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a> <a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a> <a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="team-item-descr font-alt">
                                                            <div class="team-item-name"> Gerhardt Soglo </div>
                                                            <div class="team-item-role">
                                                                <div class="field field-name-field-position field-type-text field-label-hidden">Backend Developer</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.4s">
                                                    <div class="team-item node node-nd-person">
                                                        <div class="team-item-image">
                                                            <div class="field field-name-field-image field-type-image field-label-hidden"><img src="../../assets/img/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                                                            <div class="team-item-detail">
                                                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                    <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">
                                                                                HELLO &amp; WELCOME!</h4>
                                                                    <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
                                                                </div>
                                                                <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                                                    <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a> <a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a> <a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="team-item-descr font-alt">
                                                            <div class="team-item-name"> Harriet B. Darko </div>
                                                            <div class="team-item-role">
                                                                <div class="field field-name-field-position field-type-text field-label-hidden">Photo Journalist</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  end line-->
                                    </div>
                                </div>
                            </div>
                            <section class=' bg-dark-alfa-90 page-section bg-scroll fullwidth-slider bg-scroll owl-carousel owl-theme banner-section page-section' style='margin-top: 140px; background-image: url(http://rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/section-bg-3.jpg);' data-background='http://rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/section-bg-3.jpg' data-uri='public://section-bg-3.jpg'>
                                <div class=' container  relative'>
                                    <div class=' row'>
                                        <div class=' col-md-8 col-md-offset-2 align-center'>
                                            <div class=' medium-item'>
                                                <div class="section-icon"><span class="icon-quote"></span></div>
                                                <h3 class="small-title font-alt">What people say?</h3>
                                                <blockquote class=' testimonial'>
                                                    <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!</p>
                                                    <footer class="testimonial-author"> John Doe, doodle inc. </footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=' container  relative'>
                                    <div class=' row'>
                                        <div class=' col-md-8 col-md-offset-2 align-center'>
                                            <div class=' medium-item'>
                                                <div class="section-icon"><span class="icon-quote"></span></div>
                                                <h3 class="small-title font-alt">What people say?</h3>
                                                <blockquote class=' testimonial'>
                                                    <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!</p>
                                                    <footer class="testimonial-author"> John Doe, doodle inc. </footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=' container  relative'>
                                    <div class=' row'>
                                        <div class=' col-md-8 col-md-offset-2 align-center'>
                                            <div class=' medium-item'>
                                                <div class="section-icon"><span class="icon-quote"></span></div>
                                                <h3 class="small-title font-alt">What people say?</h3>
                                                <blockquote class=' testimonial'>
                                                    <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!</p>
                                                    <footer class="testimonial-author"> John Doe, doodle inc. </footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section> -
                            <div>
                                <hr class="mt-0 mb-0"> </div>
                            <div class=' container' style='margin-bottom: -20px; padding-top: 140px;'>
                                <h4 class=' align-center font-alt uppercase' style='margin-bottom: 70px;'>OUR <span class="orange"> STORY </span>
                                            </h4>
                                <div class=' row'>
                                    <div class=' col-sm-8 col-sm-offset-2'>
                                        <div class="align-center mb-40 mb-xs-30">
                                            <ul class=" nav nav-tabs tpl-minimal-tabs animate">
                                                <li class="active"><a data-toggle="tab" href="#tab-202838" aria-expanded="true">Mission</a></li>
                                                <li><a data-toggle="tab" href="#tab-202839" aria-expanded="false">Vision</a></li>
                                                <li><a data-toggle="tab" href="#tab-202840" aria-expanded="false">History</a></li>
                                            </ul>
                                        </div>
                                        <div class=" tab-content tpl-minimal-tabs-cont section-text align-center">
                                            <div class=' tab-pane fade active in' id='tab-202838'>
                                                <p>Has a mission to use complete creative and technology solutions to help businesses, resolve world problems and inculcate knowledge for capacity building and human development.</p>
                                            </div>
                                            <div class=' tab-pane fade' id='tab-202839'>
                                                <p>Our vision is to be the epicenter of all digital solutions in the world. Ronel will be a "pool of intelligences and resources"; that would drive ideas via relational values of business and technology; into realistic solutions.</p>
                                            </div>
                                            <div class=' tab-pane fade' id='tab-202840'>
                                                <p>Established in 2011 as RONEL IT SOLUTIONS - now RONEL Ghana - is a limited liability company which enjoys a reputation for professionalism and commitment to its clientele. RONEL Ghana revolves around Innovation, Creativity and Technology; as the epicentre of modern solution for businesses to thrive in this digital age.
                                                    <br>
                                                    <br>As an IT firm, we provide consultancy services that are uniquely tailored to their business needs, supply Information Technology (IT) products and renders services not limited to networking and deployment of computer and security systems. We are equipped with excellent set of skills that falls in the business line of corporate branding, digital marketing, social media management, web development, and application development. Undoubtedly, we have enjoyed numerous achievements. Be part of our never ending history of success. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--HISTORY-->
                            <div class=' container' style='padding-top: 100px;'>
                                <div class=' row' style='margin-bottom: 60px;'>
                                    <div class=' col-sm-12'>
                                        <h4 class=' align-center font-alt uppercase'>OUR TIMELINE
                                                    </h4> </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="timeline">
                                            <li>
                                                <div class="timeline-image"> <img class="img-circle img-responsive" src="/assets/img/timeline-01.jpg" alt=""> </div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-heading">
                                                        <h4>2010-2012</h4>
                                                        <h4 class="subheading">Our Humble Beginnings</h4> </div>
                                                    <div class="timeline-body">
                                                        <p class="text-muted">Friends with interests in specialized fields of technology merged to build a complete solution package with the main focus of delivering your brand message. - You think it, we create it!</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="timeline-inverted">
                                                <div class="timeline-image"> <img class="img-circle img-responsive" src="/assets/img/timeline-02.jpg" alt=""> </div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-heading">
                                                        <h4>December 2012</h4>
                                                        <h4 class="subheading">A Company was Born</h4> </div>
                                                    <div class="timeline-body">
                                                        <p class="text-muted">Each member of our team, enrolled in specialized education system to improve ourselves to be able to assist you best in achieving your dreams!</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-image"> <img class="img-circle img-responsive" src="/assets/img/timeline-03.jpg" alt=""> </div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-heading">
                                                        <h4>March, 2017</h4>
                                                        <h4 class="subheading">Transition to Full Service</h4> </div>
                                                    <div class="timeline-body">
                                                        <p class="text-muted">With the skill set aquired, we are now ready to take the world and her dreams.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="timeline-inverted">
                                                <div class="timeline-image"> <img class="img-circle img-responsive" src="/assets/img/timeline-04.jpg" alt=""> </div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-heading">
                                                        <h4>2020</h4>
                                                        <h4 class="subheading">Phase Two Expansion</h4> </div>
                                                    <div class="timeline-body">
                                                        <p class="text-muted">We plan to make full expansion in two countries in a few years!</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="timeline-inverted">
                                                <div class="timeline-image">
                                                    <h4>Be Part
                                                                    <br>Of Our
                                                                    <br>Story!</h4> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.block -->
</div>
<div class="nd-region">
    <div class="container">
        <div id="Content-Bottom" class="row"> </div>
    </div>
</div>
<div class="nd-region">
    <div class="container-fluid">
        <div id="Content-Bottom-Full-Width" class="row"> </div>
    </div>
</div>