<section >
    <div style='padding-top: 70px; padding-bottom: 70px;'>
    <div class="view view-team view-id-team view-display-id-block">
        <div class="clearfix"></div>
        <div class="view-content">
            <h4 class=' align-center font-alt uppercase' style='margin-bottom: 70px;'>
                Say Hi to <span class="orange">OUR TEAM</span>
            </h4>
            <div class="container">
                <p class="intro-txt">Our specialized team of professionals consists of creative designers, developers, photographers, hardware and networking experts, UI/UX-designers and motion graphic designers. Follow us!</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.1s" style="padding-bottom: 40px;">
                    <div class="team-item node node-nd-person">
                        <div class="team-item-image">
                            <div class="field field-name-field-image field-type-image field-label-hidden"><img src="{{site.url}}/assets/img/team/1.jpeg" width="360" height="438" alt="Alt" /></div>
                            <div class="team-item-detail">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">	Hello & Welcome</h4>
                                    <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">We are here to help&nbsp;you and your goals&nbsp;so let's hear&nbsp;your story</p>
                                </div>
                                <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                    <div class="team-social-links"><a href="http://facebook.com/niimarteygh" target="_blank"><i class=" fa fa-facebook"></i></a><a href="http://twitter.com/de-martey" target="_blank"><i class=" fa fa-twitter"></i></a><a href="http://niimartey.com" target="_blank"><i class=" fa fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-descr font-alt">
                            <div class="team-item-name"> Martey Newman-Adjiri </div>
                            <div class="team-item-role">
                                <div class="field field-name-field-position field-type-text field-label-hidden">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.2s">
                    <div class="team-item node node-nd-person">
                        <div class="team-item-image">
                            <div class="field field-name-field-image field-type-image field-label-hidden"><img src="{{site.url}}/assets/img/team/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                            <div class="team-item-detail">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">	WHATS UP!</h4>
                                    <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Let's help you&nbsp;convert your &nbsp;idea into a&nbsp;successful app.</p>
                                </div>
                                <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                    <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a><a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a><a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-descr font-alt">
                            <div class="team-item-name"> Moses Amoasi Acquah </div>
                            <div class="team-item-role">
                                <div class="field field-name-field-position field-type-text field-label-hidden">Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item node node-nd-person">
                        <div class="team-item-image">
                            <div class="field field-name-field-image field-type-image field-label-hidden"><img src="{{site.url}}/assets/img/team/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                            <div class="team-item-detail">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">	NICE TO MEET!</h4>
                                    <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.</p>
                                </div>
                                <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                    <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a><a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a><a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-descr font-alt">
                            <div class="team-item-name"> Simon Danso </div>
                            <div class="team-item-role">
                                <div class="field field-name-field-position field-type-text field-label-hidden">Creative Director</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item node node-nd-person">
                        <div class="team-item-image">
                            <div class="field field-name-field-image field-type-image field-label-hidden"><img src="{{site.url}}/assets/img/team/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                            <div class="team-item-detail">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">	HELLO &amp; WELCOME!</h4>
                                    <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
                                </div>
                                <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                                    <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a><a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a><a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-descr font-alt">
                            <div class="team-item-name"> David B. Ashong </div>
                            <div class="team-item-role">
                                <div class="field field-name-field-position field-type-text field-label-hidden">Web Designer/ Content </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!--  new line-->
        <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.1s">
            <div class="team-item-image">
                <div class="field field-name-field-image field-type-image field-label-hidden"><img src="{{site.url}}/assets/img/team/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                <div class="team-item-detail">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">	HI TO ALL!</h4>
                        <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.</p>
                    </div>
                    <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                        <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a><a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a><a href="http://ronelghana" target="_blank"><i class=" fa fa-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="team-item-descr font-alt">
                <div class="team-item-name"> Justice Marvin Payne</div>
                <div class="team-item-role">
                    <div class="field field-name-field-position field-type-text field-label-hidden">IT Specialist</div>
                </div>
            </div>
        </div>
    <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.2s">
        <div class="team-item node node-nd-person">
            <div class="team-item-image">
                <div class="field field-name-field-image field-type-image field-label-hidden"><img src="{{site.url}}/assets/img/team/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                <div class="team-item-detail">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">	WHATS UP!</h4>
                        <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.</p>
                    </div>
                    <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                        <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a><a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a><a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="team-item-descr font-alt">
                <div class="team-item-name"> Divina H. Kumahor</div>
                <div class="team-item-role">
                    <div class="field field-name-field-position field-type-text field-label-hidden">Brand Strategist</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.3s">
        <div class="team-item node node-nd-person">
            <div class="team-item-image">
                <div class="field field-name-field-image field-type-image field-label-hidden"><img src="{{site.url}}/assets/img/team/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                <div class="team-item-detail">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">	NICE TO MEET!</h4>
                        <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.</p>
                    </div>
                    <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                        <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a><a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a><a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="team-item-descr font-alt">
                <div class="team-item-name"> Gerhardt Soglo </div>
                <div class="team-item-role">
                    <div class="field field-name-field-position field-type-text field-label-hidden">Backend Developer</div>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="col-md-3 col-sm-6 col-lg-3 mb-sm-30 wow fadeinup animation-delay fadeInUp" data-wow-delay="0.4s">
        <div class="team-item node node-nd-person">
            <div class="team-item-image">
                <div class="field field-name-field-image field-type-image field-label-hidden"><img src="{{site.url}}/assets/img/team/team-placeholder.jpg" width="360" height="438" alt="Alt" /></div>
                <div class="team-item-detail">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <h4 class="font-alt normal" style="box-sizing: border-box; font-family: Dosis, arial, sans-serif; font-weight: normal; line-height: 1.4; color: rgb(119, 119, 119); margin-top: 10px; margin-bottom: 1.3em; font-size: 18px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center;">	HELLO &amp; WELCOME!</h4>
                        <p style="box-sizing: border-box; margin: 0px 0px 2em; color: rgb(119, 119, 119); font-family: 'Open Sans', arial, sans-serif; font-size: 14px; line-height: 22.3999996185303px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
                    </div>
                    <div class="field field-name-field-social-links field-type-link-field field-label-hidden">
                        <div class="team-social-links"><a href="http://facebook.com/ronelghana" target="_blank"><i class=" fa fa-facebook"></i></a><a href="http://twitter.com/ronelghana" target="_blank"><i class=" fa fa-twitter"></i></a><a href="http://ronelghana.com" target="_blank"><i class=" fa fa-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="team-item-descr font-alt">
                <div class="team-item-name"> Harriet B. Darko </div>
                <div class="team-item-role">
                    <div class="field field-name-field-position field-type-text field-label-hidden">Photo Journalist</div>
                </div>
            </div>
        </div>
    </div>
-->
</div>
</section>