<section>

<!--HISTORY-->
<div class=' container' style='padding-top: 100px;'>
    <div class=' row' style='margin-bottom: 60px;'>
        <div class=' col-sm-12'>
            <h4 class=' align-center font-alt uppercase'>OUR TIMELINE
            </h4> </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-image"> <img class="img-circle img-responsive" src="{{site.url}}/assets/img/timeline/timeline-01.jpg" alt=""> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2010-2012</h4>
                            <h4 class="subheading">Our Humble Beginnings</h4> </div>
                        <div class="timeline-body">
                            <p class="text-muted">Friends with interests in specialized fields of technology merged to build a complete solution package with the main focus of delivering your brand message. - You think it, we create it!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"> <img class="img-circle img-responsive" src="{{site.url}}/assets/img/timeline/timeline-02.jpg" alt=""> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>December 2012</h4>
                            <h4 class="subheading">A Company was Born</h4> </div>
                        <div class="timeline-body">
                            <p class="text-muted">Each member of our team, enrolled in specialized education system to improve ourselves to be able to assist you best in achieving your dreams!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"> <img class="img-circle img-responsive" src="{{site.url}}/assets/img/timeline/timeline-03.jpg" alt=""> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>March, 2017</h4>
                            <h4 class="subheading">Transition to Full Service</h4> </div>
                        <div class="timeline-body">
                            <p class="text-muted">With the skill set aquired, we are now ready to take the world and her dreams.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"> <img class="img-circle img-responsive" src="{{site.url}}/assets/img/timeline/timeline-04.jpg" alt=""> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2020</h4>
                            <h4 class="subheading">Phase Two Expansion</h4> </div>
                        <div class="timeline-body">
                            <p class="text-muted">We plan to make full expansion in two countries in a few years!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>Be Part
                            <br>Of Our
                            <br>Story!</h4> </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>