<!DOCTYPE html>
<html> 
    <head>
        {% include global/head.html %}
    </head>

<!--    <body>-->
    <body class="appear-animate html front no-sidebars">
         <div class="main-wrap">
             EXAMPLE PAGE
        {% include global/nav.html %}

        <!-- main body section -->
            {{ content }}
        <!-- main body section -->

        {% include global/footer.html %} 

        {% include global/footer-scripts.html %} 
        
        {% include global/livechat.html %} 
   
         </div>
    </body>

</html>
<!-- Localized -->