<div class='slider-wrapper' data-autoplay="">
    <div class="large-item-carousel black fullwidth-gallery fullwidth-slider  bg-gray owl-theme owl-carousel animate-init" style="opacity: 1; display: block;" data-anim-type="fade-in-right-large" data-anim-delay="100">
        <div>
            <section class=' bg-dark-alfa-70 page-section bg-scroll banner-section pt-0 pb-0' data-background='{{site.url}}/assets/img/slider/bgd-06.jpg' data-uri='{{site.url}}/assets/img/slider/bgd-06.jpg' style='background-image: url({{site.url}}/assets/img/slider/bgd-06.jpg);'>
                <div class="js-height-full">
                    <div class="home-content">
                        <div class=' home-text pi-text-center' style=' text-align:center;'>
                            <div class=' container'>
                                <h4 class=' align-center font-alt white hs-line-8'>RONEL aspire to be the best in</h4>
                                <h2 class=' align-center font-alt uppercase white hs-line-14' style='margin-top: 50px; margin-bottom: 50px;'>INNOVATIVE | CREATIVE | TECHNOLOGY</h2> <a class=' btn btn-mod btn-border-w btn-medium btn-round' style='margin-right: 8px;' href='#'>SEE MORE</a> <a class=' btn btn-mod btn-border-w btn-medium btn-round' href='#'>PLAY REEL</a> </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class=' bg-dark-alfa-70 page-section bg-scroll banner-section pt-0 pb-0' data-background='{{site.url}}/assets/img/slider/bgd-02.jpg' data-uri='{{site.url}}/assets/img/slider/bgd-02.jpg' style='background-image: url({{site.url}}/assets/img/slider/bgd-02.jpg);'>
                <div class="js-height-full">
                    <div class="home-content">
                        <div class=' home-text pi-text-center' style=' text-align:center;'>
                            <div class=' container'>
                                <h4 class=' align-center font-alt white hs-line-8'>UNIQUE EXPERIENCE WITH</h4>
                                <h2 class=' align-center font-alt uppercase white hs-line-14' style='margin-top: 50px; margin-bottom: 50px;'>WEB DEVELOPMENT</h2> <a class=' btn btn-mod btn-border-w btn-medium btn-round' style='margin-right: 8px;' href='#'>SEE MORE</a> <a class=' btn btn-mod btn-border-w btn-medium btn-round' href='#'>PLAY REEL</a> </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class=' bg-dark-alfa-70 page-section bg-scroll banner-section pt-0 pb-0' data-background='{{site.url}}/assets/img/slider/bgd-03.jpg' data-uri='{{site.url}}/assets/img/slider/bgd-03.jpg' style='background-image: url({{site.url}}/assets/img/slider/bgd-03.jpg);'>
                <div class="js-height-full">
                    <div class="home-content">
                        <div class=' home-text pi-text-center' style=' text-align:center;'>
                            <div class=' container'>
                                <h4 class=' align-center font-alt white hs-line-8'>UNIQUE EXPERIENCE WITH</h4>
                                <h2 class=' align-center font-alt uppercase white hs-line-14' style='margin-top: 50px; margin-bottom: 50px;'>BRAND IDENTITY</h2> <a class=' btn btn-mod btn-border-w btn-medium btn-round' style='margin-right: 8px;' href='#'>SEE MORE</a> <a class=' btn btn-mod btn-border-w btn-medium btn-round' href='#'>PLAY REEL</a> </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class=' bg-dark-alfa-70 page-section bg-scroll banner-section pt-0 pb-0' data-background='{{site.url}}/assets/img/slider/bgd-04.jpg' data-uri='{{site.url}}/assets/img/slider/bgd-04.jpg' style='background-image: url({{site.url}}/assets/img/slider/bgd-04.jpg);'>
                <div class="js-height-full">
                    <div class="home-content">
                        <div class=' home-text pi-text-center' style=' text-align:center;'>
                            <div class=' container'>
                                <h4 class=' align-center font-alt white hs-line-8'>UNIQUE EXPERIENCE WITH</h4>
                                <h2 class=' align-center font-alt uppercase white hs-line-14' style='margin-top: 50px; margin-bottom: 50px;'><span syle='font-weight: 900;'>GRAPHIC</span> DESIGN </h2> <a class=' btn btn-mod btn-border-w btn-medium btn-round' style='margin-right: 8px;' href='#'>SEE MORE</a> <a class=' btn btn-mod btn-border-w btn-medium btn-round' href='#'>PLAY REEL</a> </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section class=' bg-dark-alfa-70 page-section bg-scroll banner-section pt-0 pb-0' data-background='{{site.url}}/assets/img/slider/bgd-05.jpg' data-uri='{{site.url}}/assets/img/slider/bgd-05.jpg' style='background-image: url({{site.url}}/assets/img/slider/bgd-05.jpg);'>
                <div class="js-height-full">
                    <div class="home-content">
                        <div class=' home-text pi-text-center' style=' text-align:center;'>
                            <div class=' container'>
                                <h4 class=' align-center font-alt white hs-line-8'>UNIQUE EXPERIENCE WITH</h4>
                                <h2 class=' align-center font-alt uppercase white hs-line-14' style='margin-top: 50px; margin-bottom: 50px;'><span syle='font-weight: 900;'>DIGITAL</span> MARKETING </h2> <a class=' btn btn-mod btn-border-w btn-medium btn-round' style='margin-right: 8px;' href='#'>SEE MORE</a> <a class=' btn btn-mod btn-border-w btn-medium btn-round' href='#'>PLAY REEL</a> </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>