<div  class = ' slider-wrapper' data-autoplay = ""><div class="fullwidth-gallery owl-carousel bg-gray owl-theme" style="opacity: 1; display: block;">
    <div >
        <section  class = ' bg-dark-alfa-30 page-section bg-scroll banner-section pt-0 pb-0' data-background = 'http://rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/section-bg-14.jpg' data-uri = 'public://section-bg-14.jpg' style = 'background-image: url(http://rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/section-bg-14.jpg);'><div class = "js-height-full">
            <div class = "home-content"><div  class = ' home-text pi-text-center' style = ' text-align:center;'>
                <div  class = ' container'>
                    <h4  class = ' align-center font-alt white hs-line-8'>UNIQUE EXPERIENCE WITH
                    </h4>
                    <h2  class = ' align-center uppercase white hs-line-7' style = 'margin-top: 50px; margin-bottom: 50px;'>RHYTHM CREATIVE STUDIO
                    </h2>
                    <a  class = ' btn btn-mod btn-border-w btn-medium btn-round' style = 'margin-right: 8px;' href = '#'>SEE MORE</a>
                    <a  class = ' btn btn-mod btn-border-w btn-medium btn-round' href = '#'>PLAY REEL</a>
                </div>
                </div></div>
            </div></section>
    </div>
    <div >
        <section  class = ' bg-dark-alfa-30 page-section bg-scroll banner-section pt-0 pb-0' data-background = 'http://rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/section-bg-11.jpg' data-uri = 'public://section-bg-11.jpg' style = 'background-image: url(http://rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/section-bg-11.jpg);'><div class = "js-height-full">
            <div class = "home-content"><div  class = ' home-text pi-text-center' style = ' text-align:center;'>
                <div  class = ' container'>
                    <h4  class = ' align-center font-alt white hs-line-8'>UNIQUE EXPERIENCE WITH
                    </h4>
                    <h2  class = ' align-center uppercase white hs-line-7' style = 'margin-top: 50px; margin-bottom: 50px;'>RHYTHM CREATIVE STUDIO
                    </h2>
                    <a  class = ' btn btn-mod btn-border-w btn-medium btn-round' style = 'margin-right: 8px;' href = '#'>SEE MORE</a>
                    <a  class = ' btn btn-mod btn-border-w btn-medium btn-round' href = '#'>PLAY REEL</a>
                </div>
                </div></div>
            </div></section>
    </div>
    <div >
        <section  class = ' bg-dark-alfa-30 page-section bg-scroll banner-section pt-0 pb-0' data-background = 'http://rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/section-bg-9.jpg' data-uri = 'public://section-bg-9.jpg' style = 'background-image: url(http://rhythm.nikadevs.com/sites/rhythm.nikadevs.com/files/section-bg-9.jpg);'><div class = "js-height-full">
            <div class = "home-content"><div  class = ' home-text pi-text-center' style = ' text-align:center;'>
                <div  class = ' container'>
                    <h4  class = ' align-center font-alt white hs-line-8'>UNIQUE EXPERIENCE WITH
                    </h4>
                    <h2  class = ' align-center uppercase white hs-line-7' style = 'margin-top: 50px; margin-bottom: 50px;'>RHYTHM CREATIVE STUDIO
                    </h2>
                    <a  class = ' btn btn-mod btn-border-w btn-medium btn-round' style = 'margin-right: 8px;' href = '#'>SEE MORE</a>
                    <a  class = ' btn btn-mod btn-border-w btn-medium btn-round' href = '#'>PLAY REEL</a>
                </div>
                </div></div>
            </div></section>
    </div>
</div></div>