    <!--portfolio Section-->
    <section class="gallery portfolio-style-two cs-portfolio-masonry-area">
        <div class="container-fluid">
            <div class="section-title">
                <div class="cs-ver-section-title cs-hor-section-title">
                    <h1>project</h1>
                    <h2>Recent work</h2>
                    <div class="cs-section-bdr"></div> 
                </div>
            </div>
        </div>
        <div class="container">
          <div class="section-content">
            <div class="row clearfix">
              <div class="portfolio col-3 gutter-less portfolio-with-title portfolio-masonry">
                  <div class="portfolio-item item-one item-three">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/1.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/1.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/1.jpg" class="popup-link" title="lightbox view">hotel project00000</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-item item-two">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/2.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/2.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/2.jpg" class="popup-link" title="lightbox view">hotel project222222</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-item item-three">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/3.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/3.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/3.jpg" class="popup-link" title="lightbox view">hotel project33333</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-item item-four">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/4.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/4.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/4.jpg" class="popup-link" title="lightbox view">hotel project111111</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-item item-one">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/5.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/5.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/5.jpg" class="popup-link" title="lightbox view">hotel project44444</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-item item-three">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/6.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/6.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/6.jpg" class="popup-link" title="lightbox view">hotel project55555</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-item item-two">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/7.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/7.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/7.jpg" class="popup-link" title="lightbox view">hotel project666666</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-item item-one item-three">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/8.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/8.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/8.jpg" class="popup-link" title="lightbox view">hotel project7777777777</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-item item-one item-three">
                      <div class="thumb">
                          <img src="{{site.url}}/assets/img/service-list/9.jpg" alt="">
                          <div class="portfolio-hover">
                              <div class="action-btn">
                                  <a href="{{site.url}}/assets/img/service-list/9.jpg" class="popup-link" title="lightbox view"> <i class="icon icon-Search"></i>  </a>
                              </div>
                              <div class="portfolio-description">
                                <h4><a href="{{site.url}}/assets/img/service-list/9.jpg" class="popup-link" title="lightbox view">hotel project888888</a></h4>
                                <p><a href="#">Architecture</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!--portfolio Section end-->