<section class=' bg-gray page-section bg-scroll' style='padding-top: 70px; padding-bottom: 70px;'>
    <div class=' container'>
        <div class=' row'>
            <div class=' col-sm-6 col-md-offset-3'>
                <h4 class=' align-center uppercase'>STAY INFORMED WITH OUR NEWSLETTER</h4>
                <div style='margin-bottom: -15px;'>
                    <div id="node-117" class="node node-webform node-promoted clearfix">
                        <div class="content">
                            <form class="webform-client-form webform-client-form-117 form" action="/" method="post" id="webform-client-form-117" accept-charset="UTF-8">
                                <div>
                                    <div class="newsletter-293 form-group form-item webform-component webform-component-textfield webform-component--email">
                                        <label class="element-invisible" for="edit-submitted-email">Email </label>
                                        <input placeholder="enter your email" class="newsletter-field input-md form-control round" type="text" id="edit-submitted-email" name="submitted[email]" value="" size="60" maxlength="128" />
                                    </div>
                                    <div class="form-item webform-component webform-component-markup webform-component--submit">
                                        <button class="btn btn-mod btn-medium btn-round mb-xs-10" type="submit">Subscribe</button>
                                    </div>
                                    <input type="hidden" name="details[sid]" />
                                    <input type="hidden" name="details[page_num]" value="1" />
                                    <input type="hidden" name="details[page_count]" value="1" />
                                    <input type="hidden" name="details[finished]" value="0" />
                                    <input type="hidden" name="form_build_id" value="form-DFAzp5ClKnu8-Jqf_N_VW14X_egfPsE75ny46BJ62bU" />
                                    <input type="hidden" name="form_id" value="webform_client_form_117" />
                                    <div class="form-actions">
                                        <input class="webform-submit button-primary btn-medium btn btn-mod btn-round hidden form-submit" type="submit" name="op" value="&lt;none&gt;" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class=' pi-text-center' style=' text-align:center;'>
                    <div class="form-tip"> <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class=' container' style='padding-top: 140px; '>