<!-- section epicenter -->
<section class=' bg-dark-alfa-70 page-section parallax-0 banner-section page-section' style=' background-image: url({{site.url}}/assets/img/bg-10.jpeg); padding-bottom: 0px;' data-background='{{site.url}}/assets/img/bg-20.jpg' data-uri='public://bg-20.jpg'>
    <!--it support-->
    <div class=' container relative'>
        <div class=' row'>
            <div class=' col-sm-6' style="margin-top:-70px;">
                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                    <div class="banner-content">
                        <h3 class="banner-heading font-alt">Your Problem, <span class="darkorange">OUR Mission</span></h3>
                        <div class="banner-decription">At RONEL Ghana, our experts are always enthused when challenging problems are brought before the team. We utilized all computation, business and technical abilities to produce a globally accepted solution. </div>
                        <div class="local-scroll"><a class="btn btn-mod btn-w btn-medium btn-round" href="/content/_services/itservice/">Seek Tech Support</a></div>
                    </div>
                </div>
            </div>
            <div class=' col-sm-6 banner-image wow fadeInUp animated' style='visibility: visible; animation-name: fadeInUp;'><span><img style="" src="{{site.url}}/assets/img/promo-4.png" alt="Alt" title="" /></span></div>
        </div>
    </div>
    <!--end it support-->
    <!--photography-->
    <div class=' container relative'>
        <div class=' row'>
            <div class=' col-sm-6 banner-image wow fadeInUp animated' style='visibility: visible; animation-name: fadeInUp;'><span><img style="" src="../../assets/img/promo-3.png" alt="Alt" title="" /></span></div>
            <div class=' col-sm-6' style="padding-left: 40px; margin-top: -80px;">
                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                    <div class="banner-content">
                        <h3 class="banner-heading font-alt">Smile for the <span class="darkorange">CAMERAS</span></h3>
                        <div class="banner-decription"> Telling your uniques story needs different perspective imagery and visual insight. Our photographers have the eye for this kind of things. Our photos are art in itself. </div>
                        <div class="local-scroll"><a class="btn btn-mod btn-w btn-medium btn-round" href="/content/_services/photo/">See Gallery</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end photo-->
</section>
    <!-- end epicenter -->