<!--Mini Clients Carousel-->
<section>
<!--    <div class=' container'>-->
        <div class=' row' style='padding-top: 20px; padding-bottom: 20px;'>
            <div class=' col-sm-10 col-md-offset-1'>
                <div class=' slider-wrapper' data-autoplay="">
                    <div class="small-item-carousel black owl-carousel mb-0 animate-init" data-anim-type="fade-in-right-large" data-anim-delay="100">
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/alumills.jpg" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/8.jpg" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/cake.png" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/07.jpg" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/edami.jpg" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/1.png" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/mg.jpg" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/2.png" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/sc.jpg" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/3.jpg" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/05.jpg" alt="Alt" title="" /></span></div>
                        <div><span><img style="height:67px;" src="{{site.url}}/assets/img/clients/6.png" alt="Alt" title="" /></span></div>
                    </div>
                </div>
            </div>
        </div>
<!--    </div>-->
</section>
<!-- / Mini Clients Carousel-->
