<section class=' bg-dark-alfa-70 page-section bg-scroll fullwidth-slider bg-scroll owl-carousel owl-theme banner-section page-section' data-background='/assets/img/bg-04.jpg' data-uri='public://section-bg-7.jpg' style='background-image: url(../../assets/img/bg-04.jpg);'>
    <div class=' container relative'>
        <div class=' row'>
            <div class=' col-md-8 col-md-offset-2 align-center'>
                <div class=' medium-item'>
                    <div class="section-icon"><span class="icon-quote"></span></div>
                    <h3 class="small-title font-alt">What people say?</h3>
                    <blockquote class=' testimonial'>
                        <p>RONEL... your most reliable partner.</p>
                        <footer class="testimonial-author"> Kwiyeoun Collection </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class=' container relative'>
        <div class=' row'>
            <div class=' col-md-8 col-md-offset-2 align-center'>
                <div class=' medium-item'>
                    <div class="section-icon"><span class="icon-quote"></span></div>
                    <h3 class="small-title font-alt">What people say?</h3>
                    <blockquote class=' testimonial'>
                        <p>"Genuine passion for what they do. I love them to work on all my books and identity branding."</p>
                        <footer class="testimonial-author"> Ps. Ernest Nana Agyei-Kwakye, Founder - GO Project Christian Network. </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class=' container relative'>
        <div class=' row'>
            <div class=' col-md-8 col-md-offset-2 align-center'>
                <div class=' medium-item'>
                    <div class="section-icon"><span class="icon-quote"></span></div>
                    <h3 class="small-title font-alt">What people say?</h3>
                    <blockquote class=' testimonial'>
                        <p>"They handle the technical and publicity aspect of our church. Sound is better than before, social media has also built a huge online audience for us in less time"</p>
                        <footer class="testimonial-author"> Rev. Prop. Ivy Tetteh, Founder & Gen. Overseer Daybreak Chapel. </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class=' container relative'>
        <div class=' row'>
            <div class=' col-md-8 col-md-offset-2 align-center'>
                <div class=' medium-item'>
                    <div class="section-icon"><span class="icon-quote"></span></div>
                    <h3 class="small-title font-alt">What partners say?</h3>
                    <blockquote class=' testimonial'>
                        <p>"They know their staff. Design, and functionality of my online store, and after service consultation. I experienced it all first-hand."</p>
                        <footer class="testimonial-author"> Czarina Takyie, CEO - OpsHouse Ventures </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class=' container relative'>
        <div class=' row'>
            <div class=' col-md-8 col-md-offset-2 align-center'>
                <div class=' medium-item'>
                    <div class="section-icon"><span class="icon-quote"></span></div>
                    <h3 class="small-title font-alt">What people say?</h3>
                    <blockquote class=' testimonial'>
                        <p>"They have passions to listen, transforming your dream into reality."</p>
                        <footer class="testimonial-author"> Melvin B. Idrisu - CEO, GEMCORE Services</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>