
    <!--project  One-->
    <section class="project-one">
        <div class="container-fluid">
            <div class="row clearfix">
                <!--Default project Item start 1-->
                <div class="default-project-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
<!--                  website-->
                   <a href="{{site.url}}/services/web/">
                    <div class="inner-box">
                        <!--Image Box-->
                        
                        <figure class="image-box"><img src="{{site.url}}/assets/img/service/1.jpg" alt="" class="img-responsive"></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3>WEBSITE</h3>
                                    <h5 class="align-left" style="text-align: left;">| Online Store <br><span class="bar">|</span> Corporate Website <br><span class="bar">|</span> Database Webistes</h5>
                                    <a href="{{site.url}}/assets/img/service/1.jpg" class="lightbox-image image-link" title="Image Caption Here"><i class="icon icon-Search"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </a>
<!--                  graphic design-->
                   <a href="{{site.url}}/services/graphic-design/">
                    <div class="inner-box">
                        <!--Image Box-->
                        <figure class="image-box"><img src="{{site.url}}/assets/img/service/2.jpg" alt="" class="img-responsive"></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3>GRAPHIC DESIGN</h3>
                                    <h5 class="align-left" style="text-align: left;">| Print Media Design <br><span class="bar">|</span> Electronic Media Design <br><span class="bar">|</span> Infographics <br><span class="bar">|</span> Photo Editing </h5>
                                    <a href="{{site.url}}/assets/img/service/2.jpg" class="lightbox-image image-link" title="Image Caption Here"><i class="icon icon-Search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                
                <!--Default project Item end-->

                <!--Default project Item start 2-->
                <div class="default-project-item ptn col-lg-3 col-md-6 col-sm-6 col-xs-12">
<!--                   branding-->
                   <a href="{{site.url}}/services/branding/">
                    <div class="inner-box">
                        <!--Image Box-->
                        <figure class="image-box"><img src="{{site.url}}/assets/img/service/3.jpg" alt="" class="img-responsive"></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3>BRANDING & IDENTITY</h3>
                                    <h5 class="align-left" style="text-align: left;">| Corporate Branding <br><span class="bar">|</span> Brochures, Catalogs & Report <br><span class="bar">|</span> Print & Advertising<br><span class="bar">|</span> Souvenirs </h5>
                                    <a href="{{site.url}}/assets/img/service/3.jpg" class="lightbox-image image-link" title="Image Caption Here"><i class="icon icon-Search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
<!--                    apps-->
                   <a href="{{site.url}}/services/apps/">
                
                    <div class="inner-box">
                        <!--Image Box-->
                        <figure class="image-box"><img src="{{site.url}}/assets/img/service/4.jpg" alt="" class="img-responsive"></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3>MOBILE APPS</h3>
                                    <h5 class="align-left" style="text-align: left;">| Androin, iOS & Web Apps <br><span class="bar">|</span> Electronic Computer Software <br><span class="bar">|</span> Point of Sale Applications <br><span class="bar">|</span> Photo Editing </h5>
                                    <a href="{{site.url}}/assets/img/service/4.jpg" class="lightbox-image image-link" title="Image Caption Here"><i class="icon icon-Search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--Default project Item end-->

                <!--Default project Item start 3-->
                <div class="default-project-item ptn col-lg-3 col-md-6 col-sm-6 col-xs-12">
<!--                   digital marketing-->
                   <a href="{{site.url}}/services/digital-marketing/">
                   
                    <div class="inner-box">
                        <!--Image Box-->
                        <figure class="image-box"><img src="{{site.url}}/assets/img/service/5.jpg" alt="" class="img-responsive"></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3>DIGITAL MARKETING</h3>
                                    <h5 class="align-left" style="text-align: left;">| Social Media Campaigns<br><span class="bar">|</span> Search Engine Optimization <br><span class="bar">|</span> Point of Sale Applications <br><span class="bar">|</span> Paid Online Advertisement <br><span class="bar">|</span> Conversion Rate Optimazation <br><span class="bar">|</span> Email Marketing <br><span class="bar">|</span> Marketing Campaigns</h5>
                                    <a href="{{site.url}}/assets/img/service/5.jpg" class="lightbox-image image-link" title="Image Caption Here"><i class="icon icon-Search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <!--Default project Item end-->
                <!--Default project Item start 4-->
                <div class="default-project-item ptn col-lg-3 col-md-6 col-sm-6 col-xs-12">
<!--                   content and copyright-->
                   <a href="{{site.url}}/services/content-dev/">
                   
                    <div class="inner-box">
                        <!--Image Box-->
                        <figure class="image-box"><img src="{{site.url}}/assets/img/service/6.jpg" alt="" class="img-responsive"></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3>CONTENT</h3>
                                    <h5 class="align-left" style="text-align: left;"><span class="bar">|</span> Copyrighting <span class="bar">|</span> Content Writeup</h5>
                                    <a href="{{site.url}}/assets/img/service/6.jpg" class="lightbox-image image-link" title="Image Caption Here"><i class="icon icon-Search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
<!--                    photography-->
                   <a href="{{site.url}}/services/photography/">
                   
                    <div class="inner-box">
                        <!--Image Box-->
                        <figure class="image-box"><img src="{{site.url}}/assets/img/service/7.jpg" alt="" class="img-responsive"></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3>PHOTOGRAPHY</h3>
                                    <h5 class="align-left" style="text-align: left;"><span class="bar">|</span> Product Shooting <span class="bar">|</span> Events <span class="bar">|</span> Videos </h5>
                                    <a href="{{site.url}}/assets/img/service/7.jpg" class="lightbox-image image-link" title="Image Caption Here"><i class="icon icon-Search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
<!--                    networking and hardware-->
                   <a href="{{site.url}}/services/networking/">
                   
                    <div class="inner-box">
                        <!--Image Box-->
                        <figure class="image-box"><img src="{{site.url}}/assets/img/service/8.jpg" alt="" class="img-responsive"></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3>NETWORKING & HARDWARE</h3>
                                    <h5 class="align-left" style="text-align: left;">| LAN & WAN Networking <br><span class="bar">|</span> CCTV <br>| System Installation </h5>
                                    <a href="{{site.url}}/assets/img/service/8.jpg" class="lightbox-image image-link" title="Image Caption Here"><i class="icon icon-Search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                
                <!--Default project Item end-->
                
        </div>
<!--        more services-->
        <div class=' col-sm-12'>
            <div class=' pi-text-center' style=' text-align:right;'>
                <p><a class="section-more right" href="{{site.url}}/services/">MORE OF OUR SERVICES <i class="fa fa-angle-right"></i></a></p>
            </div>
        </div>
<!--        more services-->
        </div>
    </section>
    <!-- end -->