<!--our team-->
<section class="" style="padding-bottom: 140px">
    <div style='margin-bottom: 140px;'>
        <hr class="mt-0 mb-0">
    </div>
    <div class=' container'>
        <h4 class=' align-center font-alt uppercase' style='margin-bottom: 70px;'> OUR <span class="orange">TEAM</span></h4>
        <p class="intro-txt">Amazing people! Exceptional talent! Great team work! </p>
        <div class=' row'>
            <div class=' col-md-12'>
                <div class=' slider-wrapper' data-autoplay="">
                    <div class="work-full-media mt-0 white-shadow">
                        <div class="clearlist work-full-slider owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div><span><img style="" src="/assets/img/our-team.jpg" alt="Alt" title="" /></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--end team-->