<div class=' container'>
    <div class=' row' style='margin-bottom: 60px;'>
        <div class=' col-sm-12'>
            <h4 class=' align-left font-alt uppercase'>OUR <span class="orange">SKILLS</span></h4>
        </div>
        
    </div>
    <div class=' row'>
        <div class=' col-sm-6'>
            <div class="progress tpl-progress">
                <div class='progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" style="width: 90%;">BRAND & GRAPHICS DESIGN <span>95%</span> </div>
            </div>
            <!--<div class="progress tpl-progress"><div class = ' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" style="width: 95%;">DESIGN, %<span>95</span> </div></div>-->
            <div class="progress tpl-progress">
                <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" style="width: 85%;">WEBSITE<span>85%</span> </div>
            </div>
            <div class="progress tpl-progress">
                <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" style="width: 90%;">DIGITAL MARKETING & SOCIAL MEDIA <span>80%</span> </div>
            </div>
            <div class="progress tpl-progress">
                <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" style="width: 80%;">SOFTWARE DEVELOPMENT <span>90%</span> </div>
            </div>
            <div class="progress tpl-progress">
                <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" style="width: 85%;">HARDWARE, NETWORKING & SECURITY <span>90%</span> </div>
            </div>
            <div class="progress tpl-progress">
                <div class=' progress-bar' aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" style="width: 85%;">PHOTOGRAPHY <span>80%</span> </div>
            </div>
        </div>
        <div class=' col-sm-6'>
            <div class=' section-text'>
                <p>RONEL is a young Ghanaian creative and information technology (IT) solution agency. As far as we could remember we have always been tech savvies and been around computers/electronics. Some started sketching movie posters by age 5. We have always desired to create work that inspires and lives - staying etched in the mind of the viewer. Whether we’re creating a visual brand like logos, designing a website or an app, or even setting up computer network systems; we make sure to leave an impression.
                    <br>
                    <br>Free of any one particular service our communal passion is something that you can feel in our works..</p>
            </div>
        </div>
    </div>
    <div class=' col-sm-12'>
            <div class=' pi-text-center' style=' text-align:right;'>
                <p><a class="section-more right" href="{{site.url}}/about/">MORE ABOUT US <i class="fa fa-angle-right"></i></a></p>
            </div>
    </div>
</div>
<div style='margin-top: 100px;'>
    <hr class="mt-0 mb-0"> 
</div>