<!--why choose us-->
<section class=' page-section bg-scroll' >
    <div class=' container' style="padding-top: -80px">
        <h4 class=' align-center font-alt uppercase' style='margin-bottom: 70px;'>WHY <span class="orange">CHOOSE US</span>?</h4>
        <p class="intro-txt">Because we help you keep focused on the important things in your business while we handle your: </p>
        <div class=' row multi-columns-row alt-features-grid'>
            <div class=' col-sm-6 col-md-4 col-lg-4'>
                <div class=' alt-features-item align-center'>
                    <div class="alt-features-icon"><span class="icon-circle-compass"></span></div>
                    <h3 class="alt-features-title font-alt">Branding</h3>
                    <div class="alt-features-descr align-left">
                        <p>A brand is not: your logo, your tagline, your product or your service. It’s about creating an expectation and delivering it consistently every time anyone comes into contact with your brand .</p>
                    </div>
                </div>
            </div>
            <div class=' col-sm-6 col-md-4 col-lg-4'>
                <div class=' alt-features-item align-center'>
                    <div class="alt-features-icon"><span class="icon-presentation"></span></div>
                    <h3 class="alt-features-title font-alt">Marketing</h3>
                    <div class="alt-features-descr align-left">
                        <p>We have the skills that add flare to the face of your products and services. Visual designs that turn necks, optimize conversion rate, manage your reputation on social media and more.</p>
                    </div>
                </div>
            </div>
            <div class=' col-sm-6 col-md-4 col-lg-4'>
                <div class=' alt-features-item align-center'>
                    <div class="alt-features-icon"><span class="icon-browser"></span></div>
                    <h3 class="alt-features-title font-alt">Punctual</h3>
                    <div class="alt-features-descr align-left">
                        <p>We work fast and within time. We have project management skills that help us follow and meet deadlines.</p>
                    </div>
                </div>
            </div>
            <div class=' col-sm-6 col-md-4 col-lg-4'>
                <div class=' alt-features-item align-center'>
                    <div class="alt-features-icon"><span class="icon-camera"></span></div>
                    <h3 class="alt-features-title font-alt">photography</h3>
                    <div class="alt-features-descr align-left">
                        <p>Make history by creating memory nodes back in time where you can reminisce about your success story. Capturing the moments that matter most.</p>
                    </div>
                </div>
            </div>
            <div class=' col-sm-6 col-md-4 col-lg-4'>
                <div class=' alt-features-item align-center'>
                    <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
                    <h3 class="alt-features-title font-alt">development</h3>
                    <div class="alt-features-descr align-left">
                        <p>Clean and neat code and markup. Use of cutting edge web-app, mobile apps, cross-platform responsive and native programming tools and technology.</p>
                    </div>
                </div>
            </div>
            <div class=' col-sm-6 col-md-4 col-lg-4'>
                <div class=' alt-features-item align-center'>
                    <div class="alt-features-icon"><span class="icon-anchor"></span></div>
                    <h3 class="alt-features-title font-alt">support</h3>
                    <div class="alt-features-descr align-left">
                        <p>Provide retainer and maintenance services and support around the clock. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>