<section  class = ' bg-dark page-section bg-scroll banner-section page-section' style = 'margin-top: 70px; padding-top: 0px; padding-bottom: 0px; background-image: url({{site.url}}/assets/img/bg/bg-10.jpg);' data-background = '{{site.url}}/assets/img/bg/section-bg-2.jpg' data-uri = '{{site.url}}/assets/img/bg/bg-10.jpg'>
    <div  class = ' container  relative'>
        <div  class = ' row'>
            <div  class = ' col-sm-6'>
                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80"><div class="banner-content"><h3 class="banner-heading font-alt">Looking for exclusive services?</h3><div class="banner-decription"> Look no further, we can all you digital, and IT related service that are in the way of your actual company goals. </div><div class="local-scroll"><a class="btn btn-mod btn-w btn-medium btn-round" href="#contact">Lets talk</a></div></div></div>
            </div>
            <div  class = ' col-sm-6 banner-image wow fadeInUp animated' style = 'visibility: visible; animation-name: fadeInUp;'>
                <span ><img style="" src="{{site.url}}/assets/img/others/promo-4.png" alt="Alt" title="" /></span>
            </div>
        </div>
    </div>
</section>