<!--Our work-->
<section style="padding-bottom: 140px">
    <div>
        <hr class="mt-0 mb-0">
    </div>
    <div class=' container' style='padding-top: 140px; badding-bottom: 140px;'>
        <h4 class=' align-center font-alt uppercase' style='margin-bottom: 70px;'>How we <span class="orange">WORK</span></h4>
        <p class="intro-txt">Different projects for different clients, each with a different approach but the same proven procedure.</p>
        <div class=' row'>
            <div class=' col-sm-6'>
                <h4 class=' align-left font-alt uppercase'>WORK PROCESS</h4>
                <p>We leverage our extensive experience to guide you in deciding when to go with out-of-the-box capabilities and when to adjust the solution to your specific situation. Our approach is based on a proven seven-phase model with prescribed phases to help you align IT and branding, employees, and end users for success.
                    <br>
                    <br>By partnering with us, you can increase customer satisfaction, improve project agility and reduce costs as you transform to a digital enterprise. Using our <strong>Service Excellence Methodology</strong>, let us help ensure the success of your journey.</p>
                <h4 class=' align-left font-alt uppercase'>OUR CORE VALUES</h4>
                <p>We stand strictly by our guiding principles: which are;</p>
                <ul class="font-alt darkorange">
                    <li>Commitment</li>
                    <li>Innovative</li>
                    <li>Integrity</li>
                    <li>Self-Discipline</li>
                    <li>Self Improvement</li>
                    <li>Trustworthy</li>
                </ul>
            </div>
            <div class=' col-sm-6'>
                <dl class=' accordion'><dt> <a href="#"> 1. Prepare </a> </dt>
                    <dd>
                        <p>Readiness to take action, demands commitment, understanding and exploration. We discuss, anticipate your needs and make plan breath – taking solutions to make you a success.</p>
                    </dd><dt> <a href="#"> 2. Plan </a> </dt>
                    <dd>
                        <p>We identify the goals of your company/idea to be achieved. We formulate strategies, develop means needed, regulate, implement and evaluate the strategies in sequence to find the best approach that will save cost.</p>
                    </dd><dt> <a href="#"> 3. Design </a> </dt>
                    <dd>
                        <p>Design a structured project plan, create designs that are consistent with your brand, and is UI and UX friendly.</p>
                    </dd> <dt> <a href="#"> 4. Develop </a> </dt>
                    <dd>
                        <p>We turn on the ignition of creativity and implementation; purposely to bring life to a well scrutinized plan. </p>
                    </dd> <dt> <a href="#"> 5. Validate / Test </a> </dt>
                    <dd>
                        <p>We test the developed system on both friendly and harsh environments. We make sure the system or application design corresponds accurately and solves a real world situations.</p>
                    </dd> <dt> <a href="#"> 6. Deliver </a> </dt>
                    <dd>
                        <p>We relinquish activities from the development phase. We deal with activities such as assembly, installing and activating. </p>
                    </dd> <dt> <a href="#"> 7. Transition </a> </dt>
                    <dd>
                        <p>The system or application is finally handed over to the client. Follow – ups and subsequent training sections is held to help run the system or application efficiently and effectively.
                            <br> As partners we come in from time to time to provide support and maintenance.</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--<div style = 'margin-bottom: 140px;'><hr class="mt-0 mb-0"></div>-->
</section>
<!-- / Our work-->
