<!--core values that makes us special-->
<section class=' bg-dark-alfa-70 page-section bg-scroll banner-section page-section' data-background='{{site.url}}/assets/img/bg/bg-06.jpeg' data-uri='public://bg-06.jpg' style='background-image: url({{site.url}}/assets/img/bg/bg-06.jpeg);'>
    <div class=' container relative'>
        <div class=' slider-wrapper' data-autoplay="">
            <div class="item-carousel black owl-carousel owl-theme mb-0 animate-init" data-anim-type="fade-in-right-large" data-anim-delay="100" style="opacity: 1; display: block; ">
                <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-hotairballoon"></span></div>
                        <h3 class="features-title font-alt">We're Creative</h3>
                        <div class="features-descr ">Creative designs that turn necks!</div>
                    </div>
                </div>
                <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-clock"></span></div>
                        <h3 class="features-title font-alt">We're Punctual</h3>
                        <div class="features-descr ">
                            <div class=' features-descr'>
                                <p>We always deliver on time.</p>
                            </div>
                        </div>
                    </div>
                </div>
                  <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-lightbulb"></span></div>
                        <h3 class="features-title font-alt">We're Innovative'</h3>
                        <div class="features-descr ">
                            <p>Unique ideas for special people.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-wine"></span></div>
                        <h3 class="features-title font-alt">We're Fun</h3>
                        <div class="features-descr ">
                            <p>Young, vibrant and fun to be with.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-tools"></span></div>
                        <h3 class="features-title font-alt">We’re Resourceful</h3>
                        <div class="features-descr ">
                            <p>We get things done. </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-gears"></span></div>
                        <h3 class="features-title font-alt">We love Technology</h3>
                        <div class="features-descr ">
                            <p>You will be delighted</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-browser"></span></div>
                        <h3 class="features-title font-alt">We do Websites and Apps</h3>
                        <div class="features-descr ">
                            <p>Profession website designs</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-wallet"></span></div>
                        <h3 class="features-title font-alt">We've Skill</h3>
                        <div class="features-descr ">
                            <p>A DNA of Professionalism.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=' features-item align-center'>
                        <div class="features-icon"><span class="icon-document"></span></div>
                        <h3 class="features-title font-alt">We can fix it</h3>
                        <div class="features-descr ">
                            <p>Let's have a look at it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.core values that makes us special-->
