<!--showcase-->
<section class='bg-dark-alfa-70 page-section bg-scroll banner-section page-section' data-background='{{site.url}}/assets/img/bg/bg-03.jpg' data-uri='{{site.url}}/assets/img/bg/bg-03.jpg' style='margin-top: 0px; padding-top: 0px; padding-bottom: 0px; background-image: url({{site.url}}/assets/img/bg/bg-03.jpg); '>
    <div class=' container relative'>
        <div class=' row'>
            <div class=' col-sm-6'>
                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                    <div class="banner-content">
                        <h3 class="banner-heading font-alt">FOOTPRINT OF <span class="orange">CREATIVITY</span> & <br> <span class="orange">INNOVATION</span></h3>
                        <div class="banner-decription txt-01"> We are a Ghanaian based IT firms whose designers and concept creators can easily transform your business ideas into imagery and videos that would take your business to the pinnacle of excellence. We always harness the power of cutting – edge technologies to solve issues that are scarce and repetitive in nature; thus finding creative measures to ensure the survivability of our clients’ businesses. </div>
                        <div class="local-scroll"><a class="btn btn-mod btn-w btn-medium btn-round" href="{{site.url}}/portfolio/">SEE OUR WORK</a></div>
                    </div>
                </div>
            </div>
            <div class=' col-sm-6 banner-image wow fadeInUp animated' style='visibility: visible; animation-name: fadeInUp;'><span><img style="" src="{{site.url}}/assets/img/others/device-ipad.png" alt="Alt" title="" /></span></div>
        </div>
    </div>
</section>
                                        <!--end showcase-->